{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col col-lg-6 offset-lg-3">
                <h1>{% trans "Register" %}</h1>
                {% if success %}
                    {% url 'icosa:login' as login_url %}
                    <p>{% blocktrans %}Registration was successful, you can now <a href="{{ login_url }}">login</a>.{% endblocktrans %}</p>
                {% else %}
                    <p>{% trans "Activation link is invalid." %}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
