{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="container logindevice">
    <div class="row">
        <div class="col text-center">
            <h2 class="uppercase">
                {% if client_secret %}
                    {% if client_id %}{% blocktrans with id=client_id %}{{ id }} Login{% endblocktrans %}{% else %}{% trans "Login Code" %}{% endif %}
                {% else %}
                    {% trans "Login Code" %}
                {% endif %}
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col col-lg-6 offset-lg-3">
            <div class="text-center">
                {% if request.user.is_authenticated and device_code %}
                    {% if client_secret and form_action %}
                        <p>{% trans "Press the button below to send your login code to Open Brush." %}</p>
                        <form action="{{ form_action }}" method="POST">
                            <input type="hidden" name="client_secret" value="{{ client_secret }}">
                            <input type="hidden" name="device_code" value="{{ device_code }}">
                            <input type="submit" class="btn btn-primary" value="{% trans "Login" %}">
                        </form>
                    {% else %}
                        <p class="device-code">{{ device_code }}</p>
                        <p>{% trans "Return to your app and enter this code to login to your Icosa account" %}</p>
                    {% endif %}
                    <p class="warning"><em>{% trans "Only do this if you are running an app that came from a source that you trust with access to your Icosa account" %}</em></p>
                {% else %}
                    {% url 'icosa:login' as login_url %}
                    <p>{% blocktrans %}You must <a href="{{ login_url }}?next={{ request.path }}">login</a> to get a device code.{% endblocktrans %}</p>
                    <p>{% blocktrans with uri=request.build_absolute_uri %}Or if it's easier visit <strong><a href="{{ uri }}">{{ uri }}</a></strong> on another device.{% endblocktrans %}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
