{% extends "base.html" %}
{% block content %}
<div class="container logindevice">
    <div class="row">
        <div class="col text-center">
            <h2 class="uppercase">{{ page_title }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col col-lg-6 offset-lg-3">
            <div class="text-center">
                <p>You may now close this window and return to the app.</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
