{% extends "base.html" %}
{% load timedelta_filter %}
{% block content %}
    <div class="loginuser container">
        <div class="row">
            <div class="text-center col">
                <h2>Log In</h2>
            </div>
        </div>
        <div class="row">
            <div class="text-center col">
                <div class="login-container container">
                    <div class="login-form row">
                        <div class="col-md-8 col-12 offset-md-2">
                            {% if cooloff_timedelta %}
                                <div role="alert" class="fade alert alert-danger show">{{ username }}'s account locked. Too many failed login attempts. Please try again in {{ cooloff_timedelta|timedelta:"{minutes}" }} minutes.</div>
                            {% else %}
                                {% if error %}
                                    <div role="alert" class="fade alert alert-danger show">{{ error }}</div>
                                {% endif %}
                                <form class="form-inline" action="{% url 'icosa:login' %}{% if redirect_to %}?{{ redirect_to_field_name }}={{ redirect_to }}{% endif %}" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="form-label sr-only" for="username">Username:</label>
                                        <input
                                            placeholder="Username"
                                            autocomplete="username"
                                            type="text"
                                            id="username"
                                            name="username"
                                            class="form-control"
                                        >
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label class="form-label sr-only" for="password">Password:</label>
                                        <input
                                            placeholder="Password"
                                            autocomplete="current-password"
                                            type="password"
                                            id="password"
                                            name="password"
                                            class="form-control"
                                        >
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-primary">Log in</button>
                                </form>
                                <a href="{% url 'icosa:password_reset' %}">Forgot Password?</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="text-center col-lg-6 offset-lg-3">
                <br>
                {% if config.SIGNUP_OPEN %}
                    <a href="/register">Register a new account</a>
                {% else %}
                    {% include "partials/login_notice.html" %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
