{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col col-lg-6 offset-lg-3">
                <h1>Reset password</h1>
                <p>If you have an account with that email address, we'll have sent you an email with a link to reset your password.</p>
                <p><strong>If you didn't recieve an email:</strong></p>
                <ul>
                    <li><strong>check your spam/junk folder; or</strong></li>
                    <li><strong>check you have an account with the email address you entered. You will need to <a href="{% url 'icosa:register' %}">register your account again</a> if you didn't activate your account the first time.</strong></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}
