{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col col-lg-6 offset-lg-3">
                <h1>Reset password</h1>
                <p>We've sent you an email with a link to reset your password.</p>
                <p>If you didn't recieve an email:</p>
                <ul>
                    <li>check you have an account with the email address you entered; or</li>
                    <li>check your spam/junk folder.</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}
