{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col col-lg-6 offset-lg-3">
                {% if valid_link %}
                    <h1>Please enter a new password</h1>
                    <form action="{% url 'password_reset_confirm' uidb64=uidb64 token=token %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-primary" type="submit">Reset password</button>
                    </form>
                {% else %}
                    <p>This link is invalid or has expired. Please <a href="{% url 'password_reset' %}">try again</a>.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
