{% load fontawesome_tags %}
{% if request.user.is_authenticated %}
<form class="like-widget" hx-post="{% url 'toggle_like' %}" hx-target="this" hx-swap="outerHTML">
    {% csrf_token %}
    <input type="hidden" name="assetId" value="{{ asset_url }}">
    <button>
    {% if is_liked %}
        {% fa_icon "solid" "heart" %} <span class="likelabel">unlike</span>
    {% else %}
        {% fa_icon "regular" "heart" %} <span class="likelabel">like</span>
    {% endif %}
    </button>
</form>
{% endif %}
