footer {
  background-color: var(--color-primary-bright);
  color: var(--color-base-dark);
  margin-top: 1em;
  padding: 1em 0;

  nav {

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: block;

      li {
        display: block;
        margin-block: 0.5em;
        padding-inline: 1em;

        &:last-child {
          border-right: none;
          padding-right: 0;
        }

        a {
          color: var(--color-base-dark);
          text-decoration: underline;

          &:hover,
          &:visited {
            color: var(--color-base-dark);
          }
        }
      }

      @media (min-width: 1024px) {
        display: flex;


      }

      @media (min-width: 768px) {
        li {
          display: inline-block;

          &.push {
            margin-left: auto;
          }

          &:first-child {
            padding-left: 0;
          }

          &.last {
            border-right: none;
            padding-right: 0;
          }
        }
      }

      @media (min-width: 480px) {
        li {
          border-right: 1px solid var(--color-base-dark);
          display: inline-block;
        }
      }
    }
  }
}