.sketch-info {
  border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
  padding-block: 2em;

  a {
    color: white;

    &:hover {
      color: white;
    }
  }

  .like-widget {
    float: right;

    button {
      font-size: 1rem;
      vertical-align: top;
    }
  }
}

.sketch-license {
  margin-block-start: 2em;
  color: var(--color-base-light-dim);

  img {
    height: 1em;
    width: 1em;
    margin-block-start: -4px;
  }
}

.sketch-info-details {
  padding: 1rem;
  background-color: var(--color-card-surface);
  border-radius: 0 0 var(--border-radius-large) var(--border-radius-large);

  p {
    &:last-of-type {
      margin-block-end: 0;
    }
  }


  .actions {
    a {
      &:first-child {
        padding-inline-end: 1rem;
      }
    }
  }
}