<div class="modal-header">
    <h5 class="modal-title">Add to one of your existing collections&hellip;</h5>
</div>
<div class="modal-body">
    <form>
        {% csrf_token %}
        {% if collections %}
        {% for collection in collections %}
        <div class="row">
            <div class="col col-sm-9">
                <p style="margin: 1em 0;">{{ collection.name }} </p>
            </div>
            <div class="col col-sm-3">
                <input type="submit"
                       class="btn btn-primary btn-xs btn-inline"
                       {% if collection.has_asset %}
                       value="Remove"
                       name="_remove_from_collection__{{ collection.url }}"
                       {% else %}
                       value="Add"
                       name="_remove_from_collection__{{ collection.url }}"
                       {% endif %}
                       >
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <h5>&hellip;or create a new collection.</h5>
        <label for="new-collection-name">
            <input id="new-collection-name" type="text" name="new-collection-name">
        </label>
        <input type="submit" value="Create and add" name="_add_to_new_collection" class="btn btn-primary btn-xs btn-inline">
    </form>
</div>
<div class="modal-footer">
</div>
<script>
</script>
