volumes:
  redis:
  static:
  gallery-media:
  logs:
  gallery-data:
  web-bash-history:

services:
  web:
    build:
      context: ./django
    container_name: ig-web
    ports:
      - "8000:8000"
    volumes:
      - static:/opt/static/:rw
      - logs:/opt/logs/:rw
      - ./django:/opt/:rw
      - web-bash-history:/root/hist:rw
      - gallery-media:/opt/media/:rw
    depends_on:
      - db
    env_file: .env
    environment:
      HISTFILE: /root/hist/.bash_history
      PROMPT_COMMAND: "history -a;history -r;"

  redis:
    container_name: ig-redis
    image: redis:7.4.2-alpine
    volumes:
      - redis:/data:rw
    ports:
      - 127.0.0.1:6379:6379

  db:
    image: postgres:16.2
    container_name: ig-db
    volumes:
      - gallery-data:/var/lib/postgresql/data:rw
    env_file: .env
    ports:
      - 5432:5432

  proxy:
    platform: linux/amd64
    image: nginx:latest
    container_name: ig-proxy
    depends_on:
      - web
    ports:
      - "80:80"
    volumes:
      - ./nginx/templates/default.conf.template:/etc/nginx/templates/default.conf.template:ro
      - static:/static:ro
      - gallery-media:/media:ro
      - ./certbot/www/:/var/www/certbot/:ro
    env_file: .env

  certbot:
    image: certbot/certbot:latest
    volumes:
      - ./certbot/www/:/var/www/certbot/:rw
      - ./certbot/conf/:/etc/letsencrypt/:rw
