volumes:
  redis:
  static:
  gallery-media:
  logs:
  gallery-data:
  web-bash-history:

services:
  django:
    build:
      context: ./django
    container_name: ig-django
    ports:
      - 8000:8000
    volumes:
      - static:/opt/static/:rw
      - logs:/opt/logs/:rw
      - ./django:/opt/:rw
      - web-bash-history:/root/hist:rw
      - gallery-media:/opt/media/:rw
    depends_on:
      - postgres
    env_file: .env
    environment:
      HISTFILE: /root/hist/.bash_history
      PROMPT_COMMAND: "history -a;history -r;"

  redis:
    container_name: ig-redis
    image: redis:7.4.2-alpine
    volumes:
      - redis:/data:rw
    ports:
      - 127.0.0.1:6379:6379

  postgres:
    image: postgres:16.2
    container_name: ig-postgres
    volumes:
      - gallery-data:/var/lib/postgresql/data:rw
    env_file: .env
    ports:
      - 5432:5432

  nginx:
    platform: linux/amd64
    image: nginx:latest
    container_name: ig-nginx
    depends_on:
      - django
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx/templates/default.conf.template:/etc/nginx/templates/default.conf.template:ro
      - static:/static:ro
      - gallery-media:/media:ro
      - ./certbot/www/:/var/www/certbot/:ro
      - ./certbot/conf/:/etc/nginx/ssl/:ro
    env_file: .env

  varnish:
      image: varnish:stable
      container_name: ig-varnish
      depends_on:
        - nginx
        - django
      ports:
        - 6081:6081
      volumes:
        - ./varnish/varnish.vcl:/etc/varnish/default.vcl
      environment:
        - VARNISH_SIZE=512M

  certbot:
    image: certbot/certbot:latest
    container_name: ig-certbot
    volumes:
      - ./certbot/www/:/var/www/certbot/:rw
      - ./certbot/conf/:/etc/letsencrypt/:rw
