# Note: Values that can be True or False are interpreted as True if they exist
# and False if they don't. To turn a True value into False, comment it out.

# PostgreSQL Database settings
POSTGRES_DB=icosa
POSTGRES_USER=icosa
POSTGRES_PASSWORD=changeme!

# Django settings
# IMPORTANT these secret keys protect the security of the installation and should never be given to anyone. The application will not start unless these settings are un-commented and populated with something secure, for instance the output of something like this: https://django-secret-key-generator.netlify.app/
# DJANGO_SECRET_KEY= # This key is used to prevent csrf attacks, protects session cookies and affords other security benefits. Changing it will log everyone out and prevent all forms in flight from being submitted. KEEP THIS SECRET.
# JWT_SECRET_KEY= # This key is used when creating client acces tokens. Other than token expiry or changing the client's email address, changing this key is the only way to invalidate access tokens. Changing it invalidates ALL tokens. KEEP THIS SECRET.

# If using external, S3-compatible storage for user uploads. Configure this
# here. See https://django-storages.readthedocs.io/en/latest/index.html for
# more information.
DJANGO_DEFAULT_FILE_STORAGE=
DJANGO_STORAGE_BUCKET_NAME=
DJANGO_STORAGE_REGION_NAME=
DJANGO_STORAGE_URL=
DJANGO_STORAGE_ACCESS_KEY=
DJANGO_STORAGE_SECRET_KEY=
DJANGO_STORAGE_MEDIA_ROOT= # This is the default directory inside the bucket where media is stored. Can be "/"

# The email account credentials to use for system emails.
# Check your email service provider for details.
DJANGO_EMAIL_HOST=
DJANGO_EMAIL_HOST_USER=
DJANGO_EMAIL_HOST_PASSWORD=

DJANGO_DEFAULT_FROM_EMAIL= # The system may periodically send alert emails from this address
DJANGO_ADMIN_EMAIL= # The system may periodically send alert emails to this address
# DJANGO_CORS_ALLOW_ALL_ORIGINS=True # Use this to debug CORS errors. You shouldn't need to touch this.
DJANGO_ENABLE_TASK_QUEUE=True # Comment out this variable to prevent uploads from using the task queue. Not reccomended; only use for debugging.

# DJANGO_DISABLE_CACHE=True # Un-comment this variable to use a dummy cache. Not reccomended; only use for debugging.
# DJANGO_MAINTENANCE_MODE=True # Un-comment this varible to deny access to the Web UI for all but admin users.

DJANGO_HONEYPOT_FIELD_NAME= # Used in forms as the name for honeypot fields. Defaults to `asset_ref` if not specified. See: https://github.com/jamesturk/django-honeypot/


# DJANGO_SENTRY_DSN='' # If you are using Sentry for monitoring, you can add your DSN here. See more here: https://docs.sentry.io/platforms/python/integrations/django/

# Deployment settings
DEPLOYMENT_HOST_WEB=localhost # Or www.example.com
DEPLOYMENT_HOST_API=localhost # Or api.example.com
DEPLOYMENT_ENV=local # Can be 'development', 'local' or 'production'. Don't run in production while set to 'development' or 'local'. This will expose debug information to the Web UI.
