{% comment %}
This widget can currently only be included on the page once owing to the use of
ids as targets. This could easily be improved once the final markup is decided.
{% endcomment %}

<div>
    <input type="hidden" name="thumbnail_override_image">
    <label for="thumbnail_override">Use current viewport as the thumbnail:</label>
    <input class="input-inline" type="checkbox" name="thumbnail_override" id="id_thumbnail_override">
    <img class="img-preview" src="{% if asset.thumbnail %}{{ asset.thumbnail.url }}{% endif %}" id="thumbnail_override_preview">
    <a href="javascript:void(0)" id="thumbnail_override_refresh">Update</a>
    <div class="thumbnail-widget" id="thumbnail-widget">
        {% if widget.is_initial %}
            <img src="{{ widget.value.url }}" alt="Preview" class="img-preview" />
        {% endif %}
    </div>
</div>

