{{ field.label_tag }}
{% if field.errors %}
    {{ field.errors }}
{% endif %}
{% if field.name == "license" %}
    {% if not field.field.disabled %}
        <p>We encourage users to share their work under a Creative Commons license to encourage remixing and reuse but you can also choose "All Rights Reserved". Only Creative Commons works will appear in the main site and searches. If you choose "All Rights Reserved then the work will only appear if users view your profile or have a direct link to that page.</p>
        <p>
        <details>
            <summary>
                Please note that you can't change the license to a more restrictive one after the work is published. (Find out more)
            </summary>
            <div class="details-content">
                The reason that CC licenses are irrevocable is to protect people that have used your work. Once someone has used material under a CC license, they will always have the right to use it under thee same license terms, even if the licensor changes his or her mind and stops distributing under the CC license terms. People will often choose to respect the licensor’s wishes and stop using the work if requested, but allowing creators to revoke or change licences whenever they wished would create so much uncertainty and legal risk that it would negate nearly all the benefits of Creative Commons licensing.
            </div>
        </details>
    {% endif %}
{% endif %}
{% if field.name == "zip_file" %}
    <p>Upload a new zip file to replace the work you've already uploaded. You cannot change this once you have published your work.</p>
{% endif %}
{% if field.name == "thumbnail" %}
    <div>
        <input type="hidden" name="thumbnail_override_image">
        <label for="thumbnail_override">Use current viewport as the thumbnail:</label>
        <input class="input-inline" type="checkbox" name="thumbnail_override" id="id_thumbnail_override">
        <img class="img-preview" src="{% if asset.thumbnail %}{{ asset.thumbnail.url }}{% endif %}" id="thumbnail_override_preview">
        <a href="javascript:void(0)" id="thumbnail_override_refresh">Update</a>
        {{ field }}
    </div>
{% else %}
    {{ field }}
{% endif %}
