{{ field.label_tag }}
{% if field.errors %}
    {{ field.errors }}
    {% if field.name == "license" %}
    <p><a href="#">Find out why permissive licenses are important</a></p>
    {% endif %}
{% endif %}
{% if field.name == "license" %}
    {% if not field.field.disabled %}
        <p>Please choose a permissive, Creative Commons (CC) license before publishing your work. If you choose "All Rights Reserved", your work will only be shown on your profile page and via direct links. Work with a CC license will also appear in public lists and search results. Please note, CC licenses are non-revokable once chosen.</p>
    {% endif %}
{% endif %}
{{ field }}
