<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            {% spaceless %}
                <nav>
                    <ul>
                        <li>
                            © 2020-{% now "Y" %} Icosa Gallery
                        </li>
                        {% if can_view_in_maintenance %}
                            <li>
                                <a href="{{ settings.DEPLOYMENT_SCHEME }}{{ settings.API_SERVER }}{% url "api-1.0.0:openapi-view" %}">
                                    API Docs
                                </a>
                            </li>
                        {% endif %}
                        <li class="last">
                            <a href="/supporters">
                                Our supporters
                            </a>
                        </li>
                        {% if can_view_in_maintenance %}
                            <li class="push">
                                <strong>
                                    <a href="{% url 'artist_info' %}">
                                        Why is my work here?
                                    </a>
                                </strong>
                            </li>
                        {% endif %}
                        <li{% if not can_view_in_maintenance %} class="push"{% endif %}>
                            <a href="{% url 'privacy_policy' %}">
                                Privacy Policy
                            </a>
                        </li>
                        <li class="last">
                            <a href="{% url 'terms' %}">
                                Terms and Conditions
                            </a>
                        </li>
                    </ul>
                </nav>
            {% endspaceless %}
            </div>
        </div>
    </div>
</footer>
