{% load i18n %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            {% spaceless %}
                <nav>
                    <ul>
                        <li>
                            © 2020-{% now "Y" %} Icosa Gallery
                        </li>
                        {% if can_view_in_maintenance %}
                            <li>
                                <a href="{{ settings.DEPLOYMENT_SCHEME }}{{ settings.API_SERVER }}{% url "icosa:api:openapi-view" %}">
                                    {% trans "API Docs" %}
                                </a>
                            </li>
                        {% endif %}
                        <li class="last">
                            <a href="{% url 'icosa:supporters' %}">
                                {% trans "Our supporters" %}
                            </a>
                        </li>
                        {% if can_view_in_maintenance %}
                            <li class="push">
                                <strong>
                                    <a href="{% url 'icosa:artist_info' %}">
                                        {% trans "Why is my work here?" %}
                                    </a>
                                </strong>
                            </li>
                            <li>
                                <a href="{% url 'icosa:privacy_policy' %}">
                                    {% trans "Privacy Policy" %}
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{% url 'icosa:terms' %}">
                                {% trans "Terms and Conditions" %}
                            </a>
                        </li>
                        <li class="last">
                            <a href="{% url 'icosa:help' %}">
                                {% trans "Need help?" %}
                            </a>
                        </li>
                    </ul>
                </nav>
            {% endspaceless %}
            </div>
        </div>
    </div>
</footer>
