<div class="home-hero">
    <div class="carousel slide">
        <div class="carousel-inner">
            <div class="active carousel-item">
                <img class="d"
                    src="{{ hero.image.url }}"
                    alt="{{ hero.asset.description }} by {{ hero.asset.owner.displayname }}">
                <div class="carousel-caption">
                    <a href="{{ hero.asset.get_absolute_url }}">
                        <h3 class="title">{{ hero.asset.name }}</h3>
                    </a>
                    <p>{{ hero.asset.owner.displayname }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
