<div class="home-hero">
    <div class="carousel slide">
        <div class="carousel-inner">
            <div class="active carousel-item">
                <img class="d"
                    src="{{ hero.get_thumbnail_url }}"
                    alt="{{ hero.description }} by {{ hero.owner.displayname }}">
                <div class="carousel-caption">
                    <a href="{{ hero.get_absolute_url }}">
                        <h3 class="title">{{ hero.name }}</h3>
                    </a>
                    <p>{{ hero.owner.displayname }} | {{ hero.timestamp|date:"Y-m-d" }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
