{% if request.session.viewer_js_version %}
<div class="infobanner warn front">
    {% if request.session.viewer_js_version == "experimental" %}
        <p>Using the experimental viewer. Things might look broken.</p>
        <p><a href="{{ request.path }}?viewerjs=normal">Use normal version</a> | <a href="{{ request.path }}?viewerjs=previous">Use previous version</a>
    {% elif request.session.viewer_js_version == "previous" %}
        <p>Using the previous version of the viewer. Things might look broken.</p>
        <p><a href="{{ request.path }}?viewerjs=normal">Use normal version</a> | <a href="{{ request.path }}?viewerjs=experimental">Use experimental version</a>
    {% endif %}
</div>
{% endif %}
