{% load i18n %}
<p><strong>{% trans "Note:" %}</strong>
{% if not config.LOGIN_OPEN and not config.SIGNUP_OPEN %}
    {% trans "Login and account registration" %}
{% else %}
    {% if not config.LOGIN_OPEN %}
        {% trans "Login" %}
    {% elif not config.SIGNUP_OPEN %}
        {% trans "Account registration" %}
    {% endif %}
{% endif %}
{% trans "is currently restricted to invited users only while we iron a few things out." %}</p>
<p>{% trans "If you already hold an account with Icosa Gallery, don't worry, you'll be able to log in once we open back up to everyone." %}</p>
{% if config.WAITLIST_IF_SIGNUP_CLOSED %}
    {% url 'icosa:waitlist' as waitlist_url %}
    <p>{% blocktrans %}<a href="{{ waitlist_url }}">Sign up to the waitlist</a> to be notified when you can create an account.{% endblocktrans %}</p>
{% endif %}
