<div class="home-masthead">
    <div class="carousel slide">
        <div class="carousel-inner">
            <div class="active carousel-item">
                <img class="d"
                    src="{{ masthead.image.url }}"
                    alt="{{ masthead.asset.description }} by {{ masthead.asset.owner.displayname }}">
                <div class="carousel-caption">
                    <a href="{{ masthead.asset.get_absolute_url }}">
                        <h3 class="title">{{ masthead.asset.name }}</h3>
                    </a>
                    <p>{{ masthead.asset.owner.displayname }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
