<div class="home-masthead">
    <div class="carousel slide">
        <div class="carousel-inner">
            <div class="active carousel-item">
                <img
                    class="d"
                    src="{{ masthead.image.url }}"
                    alt="{{ masthead.asset.description }} by {{ masthead.asset.owner.displayname }}"
                >
                <div class="carousel-caption">
                    <p><a href="{{ masthead.asset.get_absolute_url }}">{{ masthead.asset.name }} <span>by</span> {{ masthead.asset.owner.displayname }}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
