{% if assets.paginator.num_pages > 1 %}
    <div class="paginator text-center">
        <span class="step-links">
            {% if assets.has_previous %}
                <a href="?page=1{% if search_query %}&s={{ search_query }}{% endif %}">&laquo; first</a>
                <a href="?page={{ assets.previous_page_number }}{% if search_query %}&s={{ search_query }}{% endif %}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ assets.number }} of {{ assets.paginator.num_pages }}.
            </span>

            {% if assets.has_next %}
                <a href="?page={{ assets.next_page_number }}{% if search_query %}&s={{ search_query }}{% endif %}">next</a>
                <a href="?page={{ assets.paginator.num_pages }}{% if search_query %}&s={{ search_query }}{% endif %}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endif %}
