{% load fontawesome_tags %}
{% load static %}
<div id="sidenav" class="pro-sidebar sidenav collapsed">
    <div class="pro-sidebar-inner">
        <div class="pro-sidebar-layout">
            <div class="pro-sidebar-content">
                <div class="toggler toggle-close">
                    {% fa_icon "solid" "xmark" "toggleicon" %}
                </div>
                <nav class="pro-menu shaped square">
                    <ul>
                        <li class="pro-menu-item active">
                            <div class="pro-inner-item" tabindex="0" role="button">
                                <a href="/">
                                    <span class="pro-icon-wrapper">
                                        <span class="pro-icon">
                                            {% fa_icon "solid" "house-chimney" %}
                                        </span>
                                    </span>
                                    <span class="pro-item-content">Home</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <nav class="pro-menu shaped square">
                    <ul>
                        <h3 class="hide-when-collapsed">Me</h3>
                        <div>
                            {% if user is not None and not user.is_anonymous %}
                                {% if user.get_absolute_url %}
                                    <li class="pro-menu-item">
                                        <div class="pro-inner-item" tabindex="0" role="button">
                                            <a href="{{ user.get_absolute_url }}">
                                                <span class="pro-icon-wrapper">
                                                    <span class="pro-icon">
                                                        {% fa_icon "solid" "user" %}
                                                    </span>
                                                </span>
                                                <span class="pro-item-content">My Profile</span>
                                            </a>
                                        </div>
                                    </li>
                                {% endif %}
                                <li class="pro-menu-item">
                                    <div class="pro-inner-item" tabindex="0" role="button">
                                        <a href="/uploads">
                                            <span class="pro-icon-wrapper">
                                                <span class="pro-icon">
                                                    {% fa_icon "solid" "list" %}
                                                </span>
                                            </span>
                                            <span class="pro-item-content">My Uploads</span>
                                        </a>
                                    </div>
                                </li>
                                <li class="pro-menu-item">
                                    <div class="pro-inner-item" tabindex="0" role="button">
                                        <a href="/likes/">
                                            <span class="pro-icon-wrapper">
                                                <span class="pro-icon">
                                                    {% fa_icon "solid" "heart" %}
                                                </span>
                                            </span>
                                            <span class="pro-item-content">My Likes</span>
                                        </a>
                                    </div>
                                </li>
                                <li class="pro-menu-item">
                                    <div class="pro-inner-item" tabindex="0" role="button">
                                        <a href="/settings">
                                            <span class="pro-icon-wrapper">
                                                <span class="pro-icon">
                                                    {% fa_icon "solid" "gear" %}
                                                </span>
                                            </span>
                                            <span class="pro-item-content">My Settings</span>
                                        </a>
                                    </div>
                                </li>
                                <li class="pro-menu-item hide-when-collapsed">
                                    <div class="pro-inner-item" tabindex="0" role="button">
                                        <a href="{% url 'logout' %}">
                                            <span class="pro-icon-wrapper">
                                                <span class="pro-icon">
                                                    {% fa_icon "solid" "right-from-bracket" %}
                                                </span>
                                            </span>
                                            <span class="pro-item-content">Log out</span>
                                        </a>
                                    </div>
                                </li>
                            {% else %}
                                <li class="pro-menu-item hide-when-collapsed">
                                    <div class="pro-inner-item" tabindex="0" role="button">
                                        <a href="{% url 'login' %}">
                                            <span class="pro-icon-wrapper">
                                                <span class="pro-icon">
                                                    {% fa_icon "solid" "right-to-bracket" %}
                                                </span>
                                            </span>
                                            <span class="pro-item-content">Log in</span>
                                        </a>
                                    </div>
                                </li>
                            {% endif %}
                        </div>
                    </ul>
                </nav>
                <nav class="pro-menu shaped square hide-when-collapsed">
                    <ul>
                        <h3>Explore</h3>
                        <div>
                            <li class="pro-menu-item">
                                <div class="pro-inner-item" tabindex="0" role="button">
                                    <a href="{% url 'explore_category' category="animals" %}">
                                        <span class="pro-icon-wrapper">
                                            <span class="pro-icon">
                                                {% fa_icon "solid" "paw" %}
                                            </span>
                                        </span>
                                        <span class="pro-item-content">Animals & Pets</span>
                                    </a>
                                </div>
                            </li>
                            <li class="pro-menu-item">
                                <div class="pro-inner-item" tabindex="0" role="button">
                                    <a href="{% url 'explore_category' category="architecture" %}">
                                        <span class="pro-icon-wrapper">
                                            <span class="pro-icon">
                                                {% fa_icon "solid" "building" %}
                                            </span>
                                        </span>
                                        <span class="pro-item-content">Architecture</span>
                                    </a>
                                </div>
                            </li>
                            <li class="pro-menu-item">
                                <div class="pro-inner-item" tabindex="0" role="button">
                                    <a href="{% url 'explore_category' category="food" %}">
                                        <span class="pro-icon-wrapper">
                                            <span class="pro-icon">
                                                {% fa_icon "solid" "utensils" %}
                                            </span>
                                        </span>
                                        <span class="pro-item-content">Food</span>
                                    </a>
                                </div>
                            </li>
                            <li class="pro-menu-item">
                                <div class="pro-inner-item" tabindex="0" role="button">
                                    <a href="{% url 'explore_category' category="nature" %}">
                                        <span class="pro-icon-wrapper">
                                            <span class="pro-icon">
                                                {% fa_icon "solid" "leaf" %}
                                            </span>
                                        </span>
                                        <span class="pro-item-content">Nature</span>
                                    </a>
                                </div>
                            </li>
                            <li class="pro-menu-item">
                                <div class="pro-inner-item" tabindex="0" role="button">
                                    <a href="{% url 'explore_category' category="people" %}">
                                        <span class="pro-icon-wrapper">
                                            <span class="pro-icon">
                                                {% fa_icon "solid" "people-group" %}
                                            </span>
                                        </span>
                                        <span class="pro-item-content">People</span>
                                    </a>
                                </div>
                            </li>
                            <li class="pro-menu-item">
                                <div class="pro-inner-item" tabindex="0" role="button">
                                    <a href="{% url 'explore_category' category="science" %}">
                                        <span class="pro-icon-wrapper">
                                            <span class="pro-icon">
                                                {% fa_icon "solid" "flask" %}
                                            </span>
                                        </span>
                                        <span class="pro-item-content">Science</span>
                                    </a>
                                </div>
                            </li>
                            <li class="pro-menu-item">
                                <div class="pro-inner-item" tabindex="0" role="button">
                                    <a href="{% url 'explore_category' category="tech" %}">
                                        <span class="pro-icon-wrapper">
                                            <span class="pro-icon">
                                                {% fa_icon "solid" "microchip" %}
                                            </span>
                                        </span>
                                        <span class="pro-item-content">Technology</span>
                                    </a>
                                </div>
                            </li>
                        </div>
                    </ul>
                </nav>
                <div class="pro-sidebar-footer">
                    <div class="socials text-center hide-when-collapsed">
                        <h5>Join our Community!</h5>
                        <a href="https://mastodon.gamedev.place/@openbrushapp" alt="mastodon" rel="noreferrer" target="_blank">
                            {% fa_icon "brands" "mastodon" %}
                        </a>
                        <a href="https://bsky.app/profile/icosa.gallery" alt="bluesky" rel="noreferrer" target="_blank">
                            {% fa_icon "brands" "bluesky" %}
                        </a>
                        <a href="https://discord.gg/W7NCEYnEfy" alt="discord" rel="noreferrer" target="_blank">
                            {% fa_icon "brands" "discord" %}
                        </a>
                        <a href="https://github.com/icosa-foundation" alt="github" rel="noreferrer" target="_blank">
                            {% fa_icon "brands" "github" %}
                        </a>
                    </div>
                    <div class="support text-center hide-when-collapsed row">
                        <div class="col-lg-6 col-sm-12">
                            <a href="{% url 'home_openbrush' %}" rel="noreferrer" alt="OpenBrush">
                                <img src="{% static "images/openbrushlogo_1200.png" %}" alt="Open Brush Logo">
                            </a>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <a href="{% url 'home_blocks' %}" rel="noreferrer" alt="OpenBrush">
                                <img src="{% static "images/openblockslogo_1200.png" %}" alt="Open Brush Logo">
                            </a>
                        </div>
                    </div>
                    <div class="text-center title hide-when-collapsed">
                        <div>
                            <a target="_blank" href="https://opencollective.com/icosa">
                                <h5>Support us!</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay" role="button" tabindex="0" aria-label="overlay">
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", (event) => {
        function toggleNav() {
            document.querySelector("#sidenav").classList.toggle("collapsed");
        }
        let togglers = document.querySelectorAll(".toggler");
        for (var i = 0; i < togglers.length; i++) {
            togglers[i].addEventListener("click", toggleNav);
        }
    });
</script>

