{% load fontawesome_tags %}
{% load static %}
<div id="sidenav" class="pro-sidebar sidenav collapsed">
    <div class="pro-sidebar-inner">
        <div class="pro-sidebar-layout">
            <div class="pro-sidebar-header">
                <div class="toggler" id="toggler">
                    {% fa_icon "solid" "bars" "toggleicon hide-when-open" %}
                    {% fa_icon "solid" "xmark" "toggleicon hide-when-collapsed" %}
                </div>
                <div class="text-center title hide-when-collapsed">
                    <div>
                        <a target="_blank" href="https://opencollective.com/icosa">
                            <h4>Support us!</h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="pro-sidebar-content">
                <nav class="pro-menu shaped square">
                    <ul>
                        <li class="pro-menu-item active">
                            <div class="pro-inner-item" tabindex="0" role="button">
                                <a href="/">
                                    <span class="pro-icon-wrapper">
                                        <span class="pro-icon">
                                            {% fa_icon "solid" "house-chimney" %}
                                        </span>
                                    </span>
                                    <span class="pro-item-content">Home</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <nav class="pro-menu shaped square">
                    <ul>
                        <h3 class="hide-when-collapsed">Me</h3>
                        <div>
                            {% if owner is not None %}
                                <li class="pro-menu-item">
                                    <div class="pro-inner-item" tabindex="0" role="button">
                                        <a href="/user/{{ owner.url }}">
                                            <span class="pro-icon-wrapper">
                                                <span class="pro-icon">
                                                    {% fa_icon "solid" "user" %}
                                                </span>
                                            </span>
                                            <span class="pro-item-content">My Profile</span>
                                        </a>
                                    </div>
                                </li>
                                <li class="pro-menu-item">
                                    <div class="pro-inner-item" tabindex="0" role="button">
                                        <a href="/uploads">
                                            <span class="pro-icon-wrapper">
                                                <span class="pro-icon">
                                                    {% fa_icon "solid" "list" %}
                                                </span>
                                            </span>
                                            <span class="pro-item-content">My Uploads</span>
                                        </a>
                                    </div>
                                </li>
                                <li class="pro-menu-item">
                                    <div class="pro-inner-item" tabindex="0" role="button">
                                        <a href="/likes/">
                                            <span class="pro-icon-wrapper">
                                                <span class="pro-icon">
                                                    {% fa_icon "solid" "heart" %}
                                                </span>
                                            </span>
                                            <span class="pro-item-content">My Likes</span>
                                        </a>
                                    </div>
                                </li>
                                <li class="pro-menu-item">
                                    <div class="pro-inner-item" tabindex="0" role="button">
                                        <a href="/settings">
                                            <span class="pro-icon-wrapper">
                                                <span class="pro-icon">
                                                    {% fa_icon "solid" "gear" %}
                                                </span>
                                            </span>
                                            <span class="pro-item-content">My Settings</span>
                                        </a>
                                    </div>
                                </li>
                                <li class="pro-menu-item hide-when-collapsed">
                                    <div class="pro-inner-item" tabindex="0" role="button">
                                        <a href="{% url 'logout' %}">
                                            <span class="pro-icon-wrapper">
                                                <span class="pro-icon">
                                                    {% fa_icon "solid" "right-from-bracket" %}
                                                </span>
                                            </span>
                                            <span class="pro-item-content">Log out</span>
                                        </a>
                                    </div>
                                </li>
                            {% else %}
                                <li class="pro-menu-item hide-when-collapsed">
                                    <div class="pro-inner-item" tabindex="0" role="button">
                                        <a href="{% url 'login' %}">
                                            <span class="pro-icon-wrapper">
                                                <span class="pro-icon">
                                                    {% fa_icon "solid" "right-to-bracket" %}
                                                </span>
                                            </span>
                                            <span class="pro-item-content">Log in</span>
                                        </a>
                                    </div>
                                </li>
                            {% endif %}
                        </div>
                    </ul>
                </nav>
                <nav class="pro-menu shaped square hide-when-collapsed">
                    <ul>
                        <h3>Explore</h3>
                        <div>
                            <li class="pro-menu-item">
                                <div class="pro-inner-item" tabindex="0" role="button">
                                    <a href="{% url 'explore_category' category="science" %}">
                                        <span class="pro-icon-wrapper">
                                            <span class="pro-icon">
                                                {% fa_icon "solid" "flask" %}
                                            </span>
                                        </span>
                                        <span class="pro-item-content">Science</span>
                                    </a>
                                </div>
                            </li>
                            <li class="pro-menu-item">
                                <div class="pro-inner-item" tabindex="0" role="button">
                                    <a href="{% url 'explore_category' category="history" %}">
                                        <span class="pro-icon-wrapper">
                                            <span class="pro-icon">
                                                {% fa_icon "solid" "building-columns" %}
                                            </span>
                                        </span>
                                        <span class="pro-item-content">History</span>
                                    </a>
                                </div>
                            </li>
                            <li class="pro-menu-item">
                                <div class="pro-inner-item" tabindex="0" role="button">
                                    <a href="{% url 'explore_category' category="animals" %}">
                                        <span class="pro-icon-wrapper">
                                            <span class="pro-icon">
                                                {% fa_icon "solid" "paw" %}
                                            </span>
                                        </span>
                                        <span class="pro-item-content">Animals</span>
                                    </a>
                                </div>
                            </li>
                            <li class="pro-menu-item">
                                <div class="pro-inner-item" tabindex="0" role="button">
                                    <a href="{% url 'explore_category' category="tech" %}">
                                        <span class="pro-icon-wrapper">
                                            <span class="pro-icon">
                                                {% fa_icon "solid" "microchip" %}
                                            </span>
                                        </span>
                                        <span class="pro-item-content">Technology</span>
                                    </a>
                                </div>
                            </li>
                        </div>
                    </ul>
                </nav>
                <nav class="pro-menu shaped square hide-when-collapsed">
                    <ul>
                        <h3>Search</h3>
                        <li class="pro-menu-item">
                            <div class="pro-inner-item" tabindex="0" role="button">
                                <form action="{% url 'search' %}" method="get">
                                    <span class="pro-item-content">
                                        <input type="search" class="searchbar" name="s" value="">
                                        <button class="searchbutton">Search</button>
                                    </span>
                                </form>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="pro-sidebar-footer">
                <div class="socials text-center hide-when-collapsed">
                    <h5>Join our Community!</h5>
                    <a href="http://twitter.com/IcosaGallery" alt="twitter" rel="noreferrer" target="_blank">
                        {% fa_icon "brands" "x-twitter" %}
                    </a>
                    <a href="https://discord.gg/fS69VdFXpk" alt="discord" rel="noreferrer" target="_blank">
                        {% fa_icon "brands" "discord" %}
                    </a>
                    <a href="https://github.com/icosa-gallery/" alt="github" rel="noreferrer" target="_blank">
                        {% fa_icon "brands" "github" %}
                    </a>
                </div>
                <div class="support text-center hide-when-collapsed">
                    <a href="https://openbrush.app" rel="noreferrer" target="_blank" alt="OpenBrush">
                        <img src="{% static "images/oblogo.png" %}" alt="OpenBrush Logo">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay" role="button" tabindex="0" aria-label="overlay">
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", (event) => {
        function toggleNav() {
            document.querySelector("#sidenav").classList.toggle("collapsed");
        }
        let togglers = document.querySelectorAll(".toggler");
        for (var i = 0; i < togglers.length; i++) {
            togglers[i].addEventListener("click", toggleNav);
        }
    });
</script>

