{% load asset_tags %}
{% load fontawesome_tags %}

{% if asset.state == "UPLOADING" %}
    <article class="sketchbox" hx-trigger="every 2000ms" hx-get="{% url 'icosa:asset_status' asset_url=asset.url %}" hx-swap="outerHTML" hx-target="this">
{% else %}
    <article class="sketchbox">
{% endif %}
    {% if asset.state == "COMPLETE" %}
        {% include "partials/sketch_list_item_thumbnail.html" %}
    {% else %}
        <div class="sketchimage {{ asset.state }}"
            style="background-image: url('/static/images/nothumbnail.png?v=1');">
        </div>
    {% endif %}
    <div class="sketch-meta">
        <h4>
            {% if asset.state != "COMPLETE" %}
                {% if asset.state == "FAILED" %}
                    <p>{% fa_icon "solid" "triangle-exclamation" %} Asset failed to upload. Please try again or contact support.</p>
                    <p>
                    <form method="post" action="{% url "icosa:asset_delete" asset_url=asset.url %}" >
                        {% csrf_token %}
                        <input class="btn btn-xs btn-secondary" type="submit" value="remove">
                    </form>
                    </p>
                {% endif %}
                {% if asset.state == "UPLOADING" %}
                    <p>{% fa_icon "solid" "arrows-rotate" "fa-spin" %} Upload in progress&hellip;</p>
                {% endif %}
                {{ asset.name|default_if_none:"" }}
            {% else %}
                <a href="{{ asset.get_edit_url }}">
                    {{ asset.name|default_if_none:"Untitled asset" }}
                </a>
            {% endif %}
        </h4>
        {% if not hide_byline %}
            <p class="sketch-byline">
                {% if asset.owner.url %}
                    {% if not request.user.has_single_owner %}
                        <a href="{% url 'icosa:user_show' slug=asset.owner.url %}">{{ asset.owner.displayname }}</a> &bull;
                    {% endif %}
                    {{ asset.create_time|date:"d/m/Y" }}
                {% endif %}
            </p>
        {% endif %}
        <p><small>
            Visibility: {{ asset.get_visibility_display }}<br>
            <span class="sketch-license">
                {{ asset.get_license_icons }} {{ asset.get_license_display|default_if_none:" All rights reserved" }}
            </span>
        </small></p>
    </div>
</article>
{% if asset.state == "COMPLETE" and is_polling %}
    <script>
        let el = document.querySelector("#uploadmessages");
        if (el !== null) {
            el.remove();
        }
    </script>
{% endif %}
