{% load asset_tags %}
<article class="sketchbox">
    <a href="{% if edit_asset %}{{ asset.get_edit_url }}{% else %}{{asset.get_absolute_url}}{% endif %}" role="presentation">
        <div class="sketchimage"
            style="background-image: url('{{ asset.get_thumbnail_url }}');">
        </div>
    </a>
    <h4>
        <a href="{% if edit_asset %}{{ asset.get_edit_url }}{% else %}{{asset.get_absolute_url}}{% endif %}">
            {{ asset.name }}
        </a>
        {% if not edit_asset %}
            {% like_button request asset %}
        {% endif %}
    </h4>
    <a href="{% url 'user_show' user_url=asset.owner.url %}">{{ asset.owner.displayname }}</a>
    <div class="date">{{ asset.timestamp|date:"Y-m-d" }}</div>
</article>
