<div class="col-md-3 col-12">
    <div class="sketchbox">
        <a href="{% if edit_asset %}{{ asset.get_edit_url }}{% else %}{{asset.get_absolute_url}}{% endif %}">
            <div class="sketchimage"
                style="background-image: url('{% if asset.thumbnail %}{{ asset.thumbnail.url }}{% else %}/static/images/nothumbnail.png?v=1{% endif %}');">
                <div class="title">
                    <h6>{{ asset.name }}</h6>
                </div>
            </div>
        </a>
        <div class="sketchinfo">
            <div class="author">{{ asset.owner.displayname }}</div>
            <div class="date">{{ asset.timestamp|date:"Y-m-d" }}</div>
        </div>
    </div>
</div>
