<script type="module">
    import {Viewer} from "/static/js/icosa-viewer.module.js?v={% now "U" %}";

    var viewer = new Viewer("https://icosa-foundation.github.io/icosa-sketch-assets/");
    let defaultBgColor = '{{ asset.background_color|default:"#000000" }}';

    // For debugging
    window.viewer = viewer;
    window.THREE = viewer.three;

    let url = "{{ asset.preferred_viewer_format.url }}";
    let formatType = "{{ asset.preferred_viewer_format.format }}".toLowerCase();

    if (formatType === 'gltf2' || formatType === 'glb') {
        try {
            console.log("Trying to load as GLTF2");
            await viewer.loadGltf(url, true, defaultBgColor);
        } catch (error) {
            console.log(error);
            console.log("GLTF2 failed. Trying to load as GLTF1");
            await viewer.loadGltf1(url, true, defaultBgColor);
        }
    } else if (formatType === 'gltf') {
        try {
            console.log("Trying to load as GLTF1");
            await viewer.loadGltf1(url, true, defaultBgColor);
        } catch (error) {
            console.log(error);
            console.log("GLTF1 failed. Trying to load as GLTF2");
            await viewer.loadGltf(url, true, defaultBgColor);
        }
    } else if (formatType === 'obj') {
        console.log("Trying to load obj");
        await viewer.loadObj(url, true, defaultBgColor);
    } else if (formatType === 'fbx') {
        console.log("Trying to load fbx");
        await viewer.loadFbx(url, true, defaultBgColor);
    } else {
        console.error("Unsupported file format: " + formatType);
    }


    // For debugging
    window.viewer = viewer;
    window.THREE = viewer.three;

</script>
