.logindevice {
    margin: 4em auto;
    .warning {
        margin-top: 1em;
        background-color: var(--color-alert-danger);
        color: var(--color-white);
        padding: 1em;
        border-radius: var(--border-radius-large);
    }
    .device-code
    {
        font-size: 700%;
        font-weight: bold;
    }
}
