footer {
  background-color: var(--color-primary-bright);
  color: var(--color-base-dark);
  margin-top: 1em;
  padding: 1em 0;

  nav {

    ul {
      margin: 0;
      list-style-type: none;
      padding: 0;

      li {

        display: inline-block;
        padding-inline: 1em;
        border-right: 1px solid var(--color-base-dark);

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
          border-right: none;
        }

        a {
          color: var(--color-base-dark);
          text-decoration: underline;

          &:hover,
          &:visited {
            color: var(--color-base-dark);
          }
        }
      }
    }
  }
}