header {
  padding-block: 0.5em;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--color-base-dark);
  z-index: 1000;

  @media (max-width: 768px) {
    position: static;
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: center;

    .logo-col {
      text-align: center;
    }

    .logo {
      position: relative;


      img {
        height: 3.5em;
        width: auto;
      }

      .beta {
        display: block;
        position: absolute;
        width: 4em;
        height: 1.2em;
        top: -0.5em;
        right: -2.1em;
        transform: rotate(25deg);
        font-size: 0.8rem;
      }
    }
  }

  .search-widget {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-top: 0.5em;

    @media (min-width: 769px) {
      width: auto;
      margin-top: 0;
    }


    input,
    button {
      display: inline-block;
    }

    input {
      width: 100%;

      @media (min-width: 769px) {
        width: auto;
      }
    }

    .searchbar {
      padding: 0.2em 2.1em 0.2em 1em;
      border: 0;
      margin: .2em .2em;
      height: 2em;

      &:hover,
      &:focus {
        border: 1px solid var(--color-base-light);
      }
    }

    .searchbutton {
      background-color: var(--color-black);
      border-top-right-radius: var(--border-radius-small);
      border-bottom-right-radius: var(--border-radius-small);
      padding: 0.2em 0.2em;
      font-weight: bold;
      color: #ffffff;
      border: 0;
      margin: .2em .2em;
      position: absolute;
      top: 2px;
      right: 2px;
      height: calc(2em - 4px);
      width: calc(2em - 4px);
    }

  }

  .user-info {
    display: inline-block;
    margin-right: 0.5em;

    a {
      color: var(--color-white);
    }
  }
}