header {
  padding-block: 1em;


  .row {
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      position: relative;

      img {
        height: 5em;
      }

      .beta {
        display: block;
        position: absolute;
        width: 4em;
        height: 1.5em;
        top: -1em;
        right: -2.1em;
        transform: rotate(25deg);
      }
    }
  }
}