.infobanner {
  @media (min-width: 769px) {
    position: sticky;
  }


  top: var(--header-height);
  z-index: 50;
  padding: 1rem;
  background-color: var(--color-primary-bright);
  text-align: center;
  color: var(--color-base-dark);

  a {
    color: var(--color-base-dark);
    text-decoration: underline;

    &:hover {
      color: var(--color-base-dark);
    }
  }

  &.warn {
    background-color: var(--color-alert-warning);
  }
  &.front {
    z-index: 100000;
  }
  &.oneline {
    p {
      margin-bottom: 0;
    }
  }
}
