.infobanner {
  @media (min-width: 769px) {
    position: sticky;
  }


  top: var(--header-height);
  z-index: 50;
  padding: 1rem;
  background-color: var(--color-primary-bright);
  text-align: center;

  a {
    color: var(--color-base-dark);
    text-decoration: underline;

    &:hover {
      color: var(--color-base-dark);
    }
  }
}