@import '../vendor/react-pro-sidebar/styles.scss';

.toggler {
  position: absolute;
  z-index: 100;
  display: inline-block;
  background-color: var(--color-base-dark);
  border-bottom-right-radius: var(--border-radius-large);
  top: 1.5em;
  left: 1.5em;

  @media (max-width: 768px) {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1em;
  }


  &.toggle-close {
    background-color: transparent;
    text-align: right;
    position: static;
    padding: 1.5em;

    @media (max-width: 768px) {
      padding: 1em;
    }

    @media (min-width: 769px) {
      display: none;
    }
  }

  .toggleicon {
    font-size: 1em;
    cursor: pointer;
  }
}

.sidenav {
  z-index: 1001;
  height: 100vh;
  position: fixed;
  left: 0;
  margin-top: 0;

  @media (min-width: 769px) {
    margin-top: var(--header-height);
    padding-bottom: var(--header-height);
  }

  &.collapsed {
    left: -270px;

    .pro-sidebar-header {
      .toggler {
        text-align: center;
      }
    }

    .pro-menu {
      .pro-menu-item {
        .pro-inner-item {
          padding: 8px 20px 8px 23px;

          .pro-icon-wrapper {
            margin-right: 0;

            .pro-icon .fa-icon svg {
              vertical-align: -0.25em; // Magic number fix for this context only
            }
          }
        }

        .pro-item-content {
          display: none;
        }
      }
    }
  }

  .pro-sidebar-inner {
    background-color: var(--color-base-dark);
  }

  .pro-menu {
    padding-top: 0;
    padding-bottom: 0;

    h3 {
      text-align: center;
      border-bottom: 1px solid #afafaf;
      margin: 0 0.5em 0.5em 0.5em;
      padding: 0.3em;
      font-size: 1.2rem;
    }

    .comingsoon {
      text-align: center;
      display: block;
      font-weight: bold;
      margin-top: 1em;
    }

    .pro-menu-item {
      .pro-icon-wrapper {
        .pro-icon .fa-icon svg {
          vertical-align: -0.25em; // Magic number fix for this context only
        }
      }
    }

    .pro-menu-item.active {
      color: #00cb82;
    }

    .poly-link {
      svg {
        color: #ff00bc
      }
    }
  }

  .pro-sidebar-header {
    text-overflow: ellipsis;
    white-space: nowrap;


  }

  .disabled {
    pointer-events: none;
  }

  .pro-sidebar-content {
    overflow-y: auto;

    /* width */
    &::-webkit-scrollbar {
      width: 7px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #323232;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #fafafa;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #b0b0b0;
    }
  }

  .pro-sidebar-footer {
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 1em;
    font-size: 1.2em;

    .socials {
      padding-bottom: 0.2em;
      font-size: 1.2em;

      a {
        padding: 0.5em;

        &:hover {
          text-decoration: none;
        }

        .fa-icon svg {
          vertical-align: middle;
        }
      }

      border-bottom: 1px solid #afafaf;
    }

    .support {
      padding-top: 0.5em;

      a {
        padding: 0.2em 0;
        font-weight: bold;
        display: block;
      }

      img {
        max-width: 100%;
      }
    }

  }
}