.sketch-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: minmax(0, 1fr);

  @media(min-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media(min-width: 1024px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .sketchbox {
    border-radius: var(--border-radius-small);
    background-color: var(--color-card-surface);

    >h4 {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .sketchimage {
      aspect-ratio: 8/5;
      color: #ffffff;
      transition: opacity 300ms ease;

      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }

      img {
        border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        width: 100%;
      }

    }

    .sketch-meta {
      padding: 0.8rem;

      h4 {
        font-weight: bold;
        font-size: 1rem;
        margin-block: 0;

        a {
          color: var(--color-base-light);
        }
      }


      p {
        &:last-of-type {
          margin-block: 0;
        }
      }


      .like-widget {
        button {
          .likelabel {
            display: none;
          }
        }
      }

    }


  }
}