.sketchedit {
  display: block;

  >div {
    diplay: block;
  }

  >.viewer {
    padding-inline: 15px;
  }

  @media (min-width: 768px) {
    display: flex;

    >div {
      display: flex
    }

    >.viewer {
      flex: 3 1 66%;

      .sketchviewer {
        width: 100%;
      }
    }

    >.editor {
      flex: 1 1 33%;
    }
  }
}