.sketch-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: minmax(0, 1fr);

  @media(min-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media(min-width: 1024px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .sketchbox {
    margin: 1em;
    border-radius: 1em;

    >h4 {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .sketchimage {
      height: 13em;

      @media(max-width: 1024px) {
        height: 16em;
      }

      border-radius: 0.25rem;
      color: #ffffff;
      background-size: cover;
      background-position: 50% 50%;
      margin-bottom: 1rem;

      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }

    }

    h4 {
      font-weight: bold;
      font-size: 1rem;
      margin-bottom: 0;
    }

    a {
      color: #ffffff;

      &:hover {
        text-decoration-color: #008f5c;
      }
    }

    .date {
      color: #53E0DB;
    }

  }
}