@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;600;700&family=Gabarito:wght@400;600;700&display=swap');

html {
  height: 100%;
}

body {
  background: var(--color-base-dark);
  color: var(--color-base-light);
  height: 100%;
  font-family: Gabarito;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Josefin Sans", sans-serif;
  }
}

.app {
  display: flex;
  min-height: 100%;
  flex-direction: column;


  >main {
    flex-grow: 1;
    margin-top: var(--header-height);

    @media (max-width: 768px) {
      margin-top: 0;
    }

  }

  >header,
  >footer {
    flex-shrink: 0;
  }

}

@media (min-width: 1600px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1560px;
  }
}

a {
  color: var(--color-primary);

  &:hover {
    color: var(--color-primary-dim);
  }
}

code {
  color: var(--color-base-light);
}

.btn {
  padding: 1em 2em 0.8em 2em;
  margin-block: 1em;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color-base-light);
  border: none;

  &:hover {
    color: var(--color-light);
  }

  &.btn-primary {
    background: var(--color-primary);

    &:hover {
      color: var(--color-light);
      background: var(--color-primary-dim);
    }
  }

  &.btn-inline {
    display: inline;
    width: auto;
  }

  &.btn-xs {
    font-size: 0.62rem;
  }

  &.btn-lc {
    text-transform: lowercase;
  }
}

.dropdown-menu {
  background-color: var(--color-black);
  li {
    .dropdown-item,
    .dropdown-item:visited {
      background-color: var(--color-black);
      color: var(--color-base-mid);

      &:hover,
      &:focus,
      &:active {
        background-color: var(--color-base-mid);
        color: var(--color-black);
      }
    }
  }
  color: var(--color-base-mid);
}

.errorlist {
  margin-top: 2rem;
  margin-bottom: 0;
  color: var(--color-alert-danger);
}

.error {
  color: var(--color-alert-danger);
  margin: 1em 0;
  font-weight: bold;
}

.success {
  color: var(--color-alert-success);
  margin: 1em 0;
  font-weight: bold;
}


.beta {
  color: var(--color-alert-danger);
  font-size: 1em;
  cursor: default;
  user-select: none;
}

input,
select,
textarea {
  display: block;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-base-mid);
  background-color: var(--color-base-light);
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: var(--border-radius-small);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  margin-block: 0.4em;

  &.input-inline {
    display: inline;
    padding: 0;
    width: auto;
  }
}

form {
  select {
    cursor: pointer;
  }

  input,
  select,
  textarea {
    background-color: var(--color-black);
    border-color: var(--color-black);
    color: var(--color-base-mid);
    width: 100%;

    &:active {

      background-color: lighten(#272727, 10%);
      border-color: var(--color-black);
      color: var(--color-base-mid);
    }

    &:focus {
      background-color: var(--color-black);
      border-color: lighten(#272727, 5%);
      color: var(--color-base-mid);
    }
  }

  .img-preview {
    margin: 0.4em;
    width: 9em;
  }

}

.select2-container.select2-container--default {
  .select2-dropdown {
    border-color: var(--color-black);
  }

  .select2-selection {
    background-color: var(--color-black);
    border-color: var(--color-black);
    color: var(--color-base-mid);
    border-radius: var(--border-radius-small);
  }

  .select2-selection__rendered {
    background-color: transparent;
    border-color: var(--color-black);
  }

  .select2-results__options {
    background-color: var(--color-black);
    border-color: var(--color-black);
    color: var(--color-base-mid);
  }

  .select2-selection__clear {
    color: var(--color-base-light);
  }

  input.select2-search__field {
    color: var(--color-base-mid);
  }

  .select2-results__option.select2-results__option--highlighted,

  .select2-results__option.select2-results__option--highlighted[aria-selected=true] {
    background-color: var(--color-base-mid);
    color: var(--color-base-dark);
    font-weight: bold;
  }


  .select2-results__option[aria-selected="true"] {
    background-color: var(--color-base-dark);
    font-weight: bold;

    &::before {
      content: "• ";
    }
  }

}


label {
  margin-top: 1em;
}

.paginator {
  width: 100%;
}

.like-widget {
  display: inline-block;

  button {
    background: transparent;
    border: none;

    span {
      color: #ffffff;
    }
  }
}

.fa-icon {
  height: 1em;
  line-height: 1em;
}

.text-page {
  font-size: 1.2rem;

  h2,
  h3,
  h4 {
    margin-block-start: 2rem;
    margin-block-end: 1.2rem;
  }
}

.alert-warning {
  color: inherit;
  padding: 0.2rem;
  border-radius: var(--border-radius-tiny);
  background-color: var(--color-alert-warning);
  border-color: var(--color-alert-warning);
}

.sponsor-images {
  display: block;

  a {
    background-color: var(--color-base-light);
    border-radius: var(--border-radius-tiny);
    display: block;
    margin-inline: 1rem;
    margin-block: 1rem;
    text-align: center;


    img {
      padding: 1rem;
      max-width: 100%;

    }
  }

  @media (min-width: 768px) {
    align-items: stretch;
    display: flex;

    a {
      align-items: center;
      display: flex;
      flex-grow: 1;
      justify-content: center;

      &:first-child {
        margin-inline-start: 0;
      }

      &:last-child {
        margin-inline-end: 0;
      }
    }
  }
}

.hidden {
  display: none;
}

.hidden-sm {
  @media (max-width: 769px) {
    display: none !important;
  }
}

.well {
  background-color: var(--color-card-surface);
  padding: 1rem;
  border-radius: var(--border-radius-small);
  margin-bottom: 1em;

  p:last-of-type {
    margin-bottom: 0;
  }
}

.no-pointer {
  cursor: initial !important;
}

.pill {
  color: var(--color-base-dark);
  font-size: 0.5em;
  padding: 0.5rem 0.5rem 0.2rem 0.5rem;
  border-radius: var(--border-radius-tiny);
  display: inline-block;
  vertical-align: top;

  &.pill-- {
    &warning {
      background-color: var(--color-alert-warning);
    }

    &danger {
      background-color: var(--color-alert-danger);
      color: var(--color-white);
    }

    &success {
      background-color: var(--color-alert-success);
    }
  }
}

img {
  font-style: italic;
}

#embed-wrapper {
  &.hidden {
    display: none;
  }
  a {
    text-decoration: underline;
  }
}
.embed-code {
  width: 100%;
  max-width: 80ch;
  background-color: var(--color-base-dark);
  color: var(--color-base-light);
  overflow: scroll;
  whitespace: break-spaces;
  font-family: monospace;
  font-size: 80%;
}
.mt1 {
  margin-top: 1em;
}

