@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;600;700&family=Gabarito:wght@400;600;700&display=swap');

body {
  background: var(--color-base-dark);
  color: var(--color-base-light);
  margin: 0;
  font-family: Gabarito;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Josefin Sans", sans-serif;
  }
}


@media (min-width: 1600px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1560px;
  }
}

a {
  color: var(--color-primary);

  &:hover {
    color: var(--color-primary-dim);
  }
}

code {
  color: var(--color-base-light);
}

.btn {
  padding: 1em 2em 0.8em 2em;
  margin-block: 1em;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color-base-light);
  border: none;

  &:hover {
    color: var(--color-light);
  }

  &.btn-primary {
    background: var(--color-primary);

    &:hover {
      color: var(--color-light);
      background: var(--color-primary-dim);
    }
  }

  &.btn-inline {
    display: inline;
    width: auto;
  }

  &.btn-xs {
    font-size: 0.62rem;
  }
}

.errorlist {
  margin-top: 2rem;
  margin-bottom: 0;
  color: var(--color-alert-danger);
}

.error {
  color: var(--color-alert-danger);
  margin: 1em 0;
  font-weight: bold;
}

.success {
  color: var(--color-alert-success);
  margin: 1em 0;
  font-weight: bold;
}

.App {
  display: flex;

  main {
    width: 100%;
    margin-left: 5em;

    @media(max-width: 1024px) {
      margin-left: 0;
    }
  }
}

.beta {
  color: var(--color-alert-danger);
  font-size: 1em;
  cursor: default;
  user-select: none;
}

input,
select,
textarea {
  display: block;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-base-mid);
  background-color: var(--color-base-light);
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  margin-block: 0.4em;

  &.input-inline {
    display: inline;
    padding: 0;
    width: auto;
  }
}

form {
  select {
    cursor: pointer;
  }

  input,
  select,
  textarea {
    background-color: #272727;
    border-color: #272727;
    color: #d7d7d7;
    width: 100%;

    &:active {

      background-color: lighten(#272727, 10%);
      border-color: #272727;
      color: #d7d7d7;
    }

    &:focus {
      background-color: #272727;
      border-color: lighten(#272727, 5%);
      color: #d7d7d7;
    }
  }

  .img-preview {
    margin: 0.4em;
    width: 100%;
  }
}

label {
  margin-top: 1em;
}

.paginator {
  width: 100%;
}

.like-widget {
  display: inline-block;

  button {
    background: transparent;
    border: none;

    span {
      color: #ffffff;
    }
  }
}

.fa-icon {
  height: 1em;
  line-height: 1em;
}

.text-page {
  font-size: 1.2rem;

  h2,
  h3,
  h4 {
    margin-block-start: 2rem;
    margin-block-end: 1.2rem;
  }
}

.alert-warning {
  color: inherit;
  padding: 0.2rem;
  border-radius: var(--border-radius-tiny);
  background-color: var(--color-alert-warning);
  border-color: var(--color-alert-warning);
}

.sponsor-images {
  align-items: stretch;
  display: flex;

  a {
    align-items: center;
    background-color: var(--color-base-light);
    border-radius: var(--border-radius-tiny);
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin-inline: 1rem;

    &:first-child {
      margin-inline-start: 0;
    }

    &:last-child {
      margin-inline-end: 0;
    }

    img {
      padding: 1rem;

    }
  }
}

.hidden {
  display: none;
}