// Component includes
@import 'vendor/bootstrap/bootstrap.css';
@import 'includes/variables';
@import 'includes/devicelogin';
@import 'includes/footer';
@import 'includes/header';
@import 'includes/homehero';
@import 'includes/homepage';
@import 'includes/loader';
@import 'includes/mysketches';
@import 'includes/polyconnect';
@import 'includes/sidenav';
@import 'includes/sketchedit';
@import 'includes/sketcheditor';
@import 'includes/sketchinfo';
@import 'includes/sketchlist';
@import 'includes/sketchviewer';
@import 'includes/sketchcommon';
@import 'includes/style';
@import 'includes/terms';
@import 'includes/uploadfile';
@import 'includes/userforgot';
@import 'includes/userlogin';
@import 'includes/userregister';
@import 'includes/modal';
@import 'includes/infobanner';
@import 'includes/like-widget';
@import 'includes/fontawesome';
@import 'vendor/fontawesome.css';
@import 'vendor/icosa-viewer.scss';
// Overrides
@import 'main';