{% load compress %}
{% load fontawesome_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="icosa">
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "scss/screen.scss" %}" />
    {% endcompress %}
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <title>{% if page_title %}{{ page_title }} | {% endif %}Icosa Gallery</title>
    <script src="/static/js/htmx.min.js"></script>
    {% block extrahead %}{% endblock extrahead %}
</head>

<body>
    <div class="app">
        {% block nav %}
            {% if can_view_in_maintenance %}
                {% include "partials/side_nav.html" %}
            {% endif %}
        {% endblock nav %}
        {% block banner %}{% endblock banner %}
        {% block header %}
            {% include "partials/header.html" %}
        {% endblock header %}
        <main{% block mainattrs %}{% if not can_view_in_maintenance %} style="margin-left:0;"{% endif %}{% endblock mainattrs %}>
            {% block content %}{% endblock content %}
        </main>
        {% block footer %}
            {% include "partials/footer.html" %}
        {% endblock footer %}
        <script src="/static/js/bootstrap.min.js"></script>
    </div>
</body>

</html>
