{% load compress %}
{% load fontawesome_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="icosa">
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "scss/screen.scss" %}" />
    {% endcompress %}

    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <title>{% if page_title %}{{ page_title }} | {% endif %}Icosa Gallery</title>
    <script src="/static/js/htmx.min.js"></script>
    {% block extrahead %}{% endblock extrahead %}
</head>

<body>
<div id="root">
    <div class="App">
        {% block nav %}
        {% include "partials/side_nav.html" %}
        {% endblock nav %}
        <main{% block mainattrs %}{% endblock mainattrs %}>
            {% block banner %}{% endblock banner %}
            {% block header %}
                <header>
                    <div class="container">
                        <div class="row">
                            <div class="d-block d-lg-none col">
                                <h3>
                                    {% fa_icon "solid" "bars" "toggleicon toggler" %}
                                </h3>
                            </div>
                            <div class="d-none d-lg-block col"></div>
                            <div class="text-center col">
                                <a class="logo" href="/">
                                    <img alt="logo"
                                        src="{% static 'images/logo.png' %}">
                                        {% if config.BETA_MODE %}<span class="beta">Beta</span>{% endif %}
                                </a>
                            </div>
                            <div class="text-right col">
                                <div>
                                {% if owner is not None %}
                                    Welcome, <a href="/user/{{ owner.url }}">{{ owner.displayname }}</a>
                                {% else %}
                                    <a href="{% url 'login' %}">Login / Register</a>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
            {% endblock header %}
            {% block content %}{% endblock content %}
            {% block footer %}
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                        {% spaceless %}
                            <nav>
                                <ul>
                                    <li>
                                        © 2020-{% now "Y" %} Icosa Gallery
                                    </li>
                                    <li>
                                        <a href="https://{{ settings.DEPLOYMENT_HOST_API }}{% url "api-1.0.0:openapi-view" %}">API Docs</a>
                                    </li>
                                </ul>
                            </nav>
                        {% endspaceless %}
                        </div>
                        <div class="col-md-6">
                        {% spaceless %}
                            <nav class="text-right">
                                <ul>
                                    <li>
                                        <strong><a href="{% url 'artist_info' %}">Why is my work here?</a></strong>
                                    </li>
                                    <li>
                                        <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'terms' %}">Terms and Conditions</a>
                                    </li>
                                </ul>
                            </nav>
                        {% endspaceless %}
                        </div>
                    </div>
                </div>
            </footer>
            {% endblock footer %}
        </main>
    </div>
</div>
    <script src="/static/js/bootstrap.min.js"></script>
</body>

</html>
