{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="text-center col">
                <h2>{{ content_type }} requires moderation</h2>
            </div>
        </div>
        <div class="row">
            <div class="text-center col">
                <div class="login-container container">
                    <div class="login-form row">
                        <div class="col-md-8 col-12 offset-md-2">
                            {% include moderation_template %}
                            <form class="form-inline" action="." method="post">
                                {% csrf_token %}
                            </form>
                            <p>{{ current_obj.pk }}</p>
                            <p>Next: {{ next_obj.pk }} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


