{% extends "base.html" %}

{% block content %}
    <div class="container text-page">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h2>{{ page_title }}</h2>
                <p>Icosa Gallery is open source software that allows you to store, share and use 3D models you've created in apps like <a href="https://openbrush.app/">Open Brush</a>, <a href="https://openblocks.app/">Open Blocks</a>, or anywhere else.</p>
                <p>The main site can be found at <a href="https://icosa.gallery">icosa.gallery</a> and you can host your own instance publicly or privately on premise for your own organisation to use. The code is available on <a href="https://github.com/icosa-foundation/icosa-gallery">GitHub</a>.</p>
                <p>We are currently working to make it easier to install and run, and we're in the process of improving our documentation. Feel free to contact us at <a href="mailto:contact@icosa.gallery">contact@icosa.gallery</a>.</p>
            </div>
        </div>
    </div>
{% endblock content %}
