{% extends "base.html" %}
{% load paginator_tags %}
{% load markdown_tags %}

{% block extrahead %}
    {{ block.super }}
    <link rel="canonical" href="{% clean_url %}">
{% endblock extrahead %}

{% block content %}
<div>
    <div class="container">
        <h1>{{ collection.name }} by {{ collection.owner.get_displayname }}</h1>
        {% if request.user == collection.owner.django_user %}
            <p>
                <a class="btn btn-primary btn-sm" href="{% url 'icosa:asset_collection_edit' collection_url=collection.url %}">Edit collection</a>
            </p>
        {% endif %}
        {% if collection.description %}
            {% if collection.markdown %}
                {{ collection.description|markdown }}
            {% else %}
                {{ collection.description|linebreaks }}
            {% endif %}
        {% endif %}

        <div class="sketch-list">
            {% for asset in assets %}
                {% include "partials/sketch_list_item.html" %}
            {% endfor %}
        </div>
        {% with obj=collection %}
        {% if user_is_moderator and obj.moderation_state == "QUERIED" %}
        {% include "include/moderator_actions.html" %}
        {% endif %}
        {% endwith %}
        {% include "partials/pagination.html" %}
    </div>
</div>
{% endblock content %}
