{% extends "base.html" %}

{% load fontawesome_tags %}
{% load static %}

{% block extrahead %}
{% endblock extrahead %}

{% block content %}
<div class="sketchedit">
    <div class="viewer">
        <div id="tree-view"></div>
        <div id="icosa-viewer"></div>
    </div>
    <div class="editor">
        <div class="sketcheditor container">
            {% if form.errors %}
                <p class="error"><strong>This form has errors. Please correct them below.</strong></p>
            {% endif %}
            <form method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != "thumbnail_override" %}
                        <div class="field-group">
                            {% if is_editable %}
                                {% include "partials/edit_asset_field.html" %}
                            {% else %}
                                {% if field.name in form.editable_fields %}
                                    {% include "partials/edit_asset_field.html" %}
                                {% else %}
                                    {% include "partials/non_edit_asset_field.html" %}
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
                    <div class="field-group">
                        <p>Please note, once you have made your work public or unlisted, if you have chosen a CC license, you cannot make the work private or make changes to the model files.</p>
                        <div class="dropdown">
                            <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="savebtngroup" data-bs-toggle="dropdown" aria-expanded="false">Save</a>
                                <ul class="dropdown-menu" aria-labelledby="savebtngroup">
                                    {% if is_editable %}
                                        <li id="draft-mode"><button type="submit" name="_save_private" class="dropdown-item">Save as Draft</button></li>
                                    {% endif %}
                                    <li id="publish-mode"><button type="submit" name="_save_public" class="dropdown-item">Publish</button></li>
                                    <li><button type="submit" name="_save_unlisted" class="dropdown-item">Publish (as unlisted)</button></li>
                                </ul>
                        </div>
                    </div>
                <a href="{% url 'uploads' %}" class="btn btn-secondary">Cancel</a>
            </form>
            {% if is_editable %}
                <p>
                  <button href="javascript:void(0);" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">Delete</button>
                </p>
            {% endif %}
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="delete-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {% fa_icon "solid" "hand" %}
                    Are you sure you want to delete &ldquo;{{ asset.name }}&rdquo;?
                </h5>
            </div>
            <div class="modal-body">
                <p>You can not undo this action.</p>
                <p>Press "I'm sure" to confirm you want to remove your work from Icosa Gallery.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal">Cancel</button>
                <form method="post" action="{{ asset.get_delete_url }}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-danger">I'm sure</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.min.js"></script>
<script>
    let thumbnailOverrideTrigger = document.querySelector("input[name='thumbnail_override']");
    let thumbnailOverrideRefresh = document.querySelector("#thumbnail_override_refresh");
    let thumbnailOverrideInput = document.querySelector("input[name='thumbnail_override_image']");
    let thumbnailSpinner = document.querySelector("#thumbnail-spinner");
    let thumbnailPreview = document.querySelector("#thumbnail_override_preview");
    function updateThumbnail() {
        let data = viewer.captureThumbnail(1280, 720);
        thumbnailOverrideInput.value = data;
        thumbnailPreview.src = data;
    }
    function handleThumbnail(event) {
        let el = event.target;
        if (el.checked === true) {
            updateThumbnail();
        } else {
            thumbnailOverrideInput.value = null;
        }
        return false;
    }
    if ( thumbnailOverrideTrigger ) {
        thumbnailOverrideTrigger.addEventListener('input', handleThumbnail, false);
        thumbnailOverrideRefresh.addEventListener('click', updateThumbnail, false);
    }

    function handlePublishChoices(event) {
        let el = event.target;
        license = el.value;
        let wrap = document.createElement('div');
        wrap.innerHTML = '<li id="draft-mode"><button type="submit" name="_save_private" class="dropdown-item">Save as Draft</button></li>';
        let draftMode = wrap.firstChild;
        let publishMode = document.querySelector("#publish-mode");

        if ( license === "" || license === "ALL_RIGHTS_RESERVED") {
            if (!document.querySelector("#draft-mode")) {
                publishMode.parentNode.insertBefore(draftMode, publishMode);
            }
        } else {
            if (document.querySelector("#draft-mode")) {
                document.querySelector("#draft-mode").remove();
            }
        }
    }

    let licenseInput = document.querySelector("select[name='license']");
    if ( licenseInput ) {
        licenseInput.addEventListener('input', handlePublishChoices, false);
    }
</script>
{{ form.media }}
{% include "partials/viewer.html" %}
{% endblock content %}
