{% extends "base.html" %}

{% load asset_tags %}
{% load fontawesome_tags %}
{% load static %}

{% block extrahead %}
    <link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}{{ asset.get_absolute_url }}" />
{% endblock extrahead %}

{% block banner %}
{% if not asset.owner.is_claimed %}
{% include "partials/artist_info_banner.html" %}
{% endif %}
{% endblock banner %}

{% block content %}
<div class="sketch-info container">
    <div class="row">
        <div class="col">
            {% if asset.is_viewer_compatible %}
                <div id="icosa-wrapper" style="position: relative; width: 80%; height: 80%; display: flex;">
                    <div id="tree-view" style="width: 250px; overflow-y: auto; flex-shrink: 0;"></div>
                    <div id="icosa-viewer" style="flex-grow: 1; height: 100%;"></div>
                </div>
            {% else %}
                <p>Sorry, we are unable to display this model in the viewer.</p>
            {% endif %}
            <div class="sketch-info-details">
                <h2>
                    {{ asset.name }}{% if user == request_user %}{% if asset.visibility == "PRIVATE" %} <span style="color:red;">(PRIVATE)</span>{% endif %}{% if asset.visibility == "UNLISTED" %} <span style="color:orange;">(UNLISTED)</span>{% endif %}{% endif %}
                    {% like_button request asset %}
                </h2>
                {% if asset.owner %}
                    <p class="sketch-byline">
                        <a href="/user/{{ asset.owner.url }}">{{ asset.owner.displayname }}</a> &bull; {{ asset.timestamp|date:"d/m/Y" }}
                    </p>
                {% endif %}
                {% if asset.description %}
                    <p>{{ asset.description|linebreaksbr }}</p>
                {% endif %}
                <p class="sketch-license">
                    {{ asset.get_license_icons }} {{ asset.get_license_display|default_if_none:" All rights reserved" }}
                </p>
                <p></p>
                {% if downloadable_formats %}
                    <p>
                        <a href="{% url 'asset_downloads' asset_url=asset.url %}" class="btn btn-primary btn-sm">
                            {% fa_icon "solid" "download" %} Downloads
                        </a>
                    </p>
                {% endif %}
                <p class="text-right actions">
                    <small>
                        <a href="{% url 'artist_info' %}">{% fa_icon "solid" "circle-question" %} Why is my work here? What can I do?</a>
                        <a href="{% url "report_asset" asset_url=asset.url %}">
                            {% fa_icon "solid" "flag" %} Report
                        </a>
                    </small>
                </p>
                {% if request.user.is_superuser and not settings.DEBUG %}
                {% include "include/asset_superuser_actions.html" %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% if asset.is_viewer_compatible %}
    {% include "partials/viewer.html" %}
{% endif %}
{% endblock content %}
