{% extends "base.html" %}

{% load asset_tags %}
{% load fontawesome_tags %}
{% load static %}

{% block content %}
<div class="sketch-info container">
    <div class="row">
        <div class="col col-lg-6 offset-lg-3">
            <div>
                <h2>
                    Downloads for: {{ asset.name }}
                </h2>
                <p>Choose from the below formats in which to download this model.</p>
                <p>This list is currently experimental and you might run into issues with some formats. Those marked "(alternative)" might work better for you if the original format type fails.</p>
                {% for format, resources in downloadable_formats.items %}
                    {% if resources.zip_archive_url  %}
                        <p>
                            <a data-log-download href="{{ resources.zip_archive_url }}">
                                {% fa_icon "solid" "download" %} {{ format }}
                            </a>
                        </p>
                    {% elif resources.file %}
                        <p>
                            <a data-log-download href="{{ resources.file }}">
                                {% fa_icon "solid" "download" %} {{ format }}
                            </a>
                        </p>
                    {% else %}
                        {% if resources.files_to_zip %}
                        <p>
                            <a
                                data-log-download
                                href="javascript:void(0);"
                                data-file="{% for file in resources.files_to_zip %}{{ file }}{% if not forloop.last %},{% endif %}{% endfor %}"
                            >
                                {% fa_icon "solid" "download" %} {{ format }}
                            </a><span class="download-spinner" style="display:none;margin-inline-start:1em;">{% fa_icon "solid" "arrows-rotate" "fa-spin" %}&nbsp;Processing files</span>
                        </p>
                        {% endif %}
                        {% if resources.files_to_zip_with_suffix %}
                        <p>
                            <a
                                data-log-download
                                href="javascript:void(0);"
                                data-file="{% for file in resources.files_to_zip_with_suffix %}{{ file }}{% if not forloop.last %},{% endif %}{% endfor %}"
                            >

                                {% fa_icon "solid" "download" %} {{ format }} (alternative)
                            </a><span class="download-spinner" style="display:none;margin-inline-start:1em;">{% fa_icon "solid" "arrows-rotate" "fa-spin" %}&nbsp;Processing files</span>
                        </p>
                        {% endif %}
                    {% endif %}
                    {% if resources.supporting_text %}
                        <p>{{ resources.supporting_text }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% csrf_token %}
    </div>
<script src="{% static 'js/jszip.min.js' %}?v=0"></script>
<script>
    var zip = new JSZip();
    async function fetchAndZipFiles(urls) {
        const zipFolder = zip.folder("{{ asset.slug }}");

        for (const url of urls) {
            const response = await fetch(url);
            const blob = await response.blob();
            const fileName = url.split("/").pop();
            zipFolder.file(fileName, blob);
        }

        zip.generateAsync({ type: "blob" }).then((content) => {
            const downloadLink = document.createElement("a");
            downloadLink.href = URL.createObjectURL(content);
            downloadLink.download = "{{ asset.slug }}.zip";
            downloadLink.click();
        });
        for (const spinner of document.querySelectorAll(".download-spinner")) {
            spinner.style.display = "none";
        };
    }

    function handleDownload() {
        let fileNames = this.dataset.file.split(',');
        fetchAndZipFiles(fileNames);
        this.nextSibling.style.display = "inline";
    }

    function incrementDownloads(event) {
        let linkDest = event.currentTarget;
        event.preventDefault();
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const request = new Request(
            "{% url 'asset_log_download' asset_url=asset.url %}",
            {
                method: 'POST',
                headers: {'X-CSRFToken': csrftoken},
                mode: 'same-origin'
            }
        );
        fetch(request).then(function(response) {
            window.location = linkDest;
        });
    }
    
    for (const button of document.querySelectorAll("[data-file]")) {
        button.addEventListener("click", handleDownload, false);
    };
    for (const el of document.querySelectorAll("a[data-log-download]")) {
        el.addEventListener("click", incrementDownloads);
    };
</script>
</div>
{% endblock content %}
