{% extends "base.html" %}

{% load asset_tags %}
{% load fontawesome_tags %}
{% load static %}

{% block extrahead %}
    <link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}{{ asset.get_absolute_url }}" />
    {% include "partials/oembed_head.html" %}
{% endblock extrahead %}

{% block meta_opengraph %}
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Icosa Gallery">
    <meta property="og:title" content="{{ asset.name }} by {{ asset.owner.displayname }} on Icosa Gallery">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta name="og:image" content="{{ asset.get_thumbnail_url }}">
    <meta name="og:image:alt" content="{{ asset.name }}{% if asset.owner.displayname %} by {{ asset.owner.displayname }}{% endif %}">
    <meta name="og:image:width" content="1280">
    <meta name="og:image:height" content="720">
    <meta property="og:description" content='Check out "{{ asset.name }}" {% if asset.owner.displayname %}and more work by {{ asset.owner.displayname }}{% endif %} on Icosa Gallery'>
{% endblock meta_opengraph %}

{% block banner %}
{% if not asset.owner.is_claimed %}
{% include "partials/artist_info_banner.html" %}
{% endif %}
{% include "partials/js_version_banner.html" %}
{% endblock banner %}

{% block content %}
<div class="sketch-info container">
    <div class="row">
        <div class="col">
            {% if asset.is_viewer_compatible %}
                <div id="icosa-wrapper">
                    <div id="tree-view"></div>
                    <div id="icosa-viewer"></div>
                </div>
            {% else %}
                <p>Sorry, we are unable to display this model in the viewer.</p>
            {% endif %}
            <div class="sketch-info-details">
                <h2>
                    {{ asset.name }}{% if user_owns_asset %}{% if asset.visibility == "PRIVATE" %} <span class="pill pill--danger">private</span>{% endif %}{% if asset.visibility == "UNLISTED" %} <span class="pill pill--warning">unlisted</span>{% endif %}{% endif %}
                    {% like_button request asset %}
                </h2>
                {% if asset.owner %}
                    <p class="sketch-byline">
                        <a href="{% url 'icosa:user_show'  slug=asset.owner.url %}">{{ asset.owner.displayname }}</a> &bull; {{ asset.create_time|date:"d/m/Y" }}
                    </p>
                {% endif %}
                {% if asset.description %}
                    <p>{{ asset.description|linebreaksbr }}</p>
                {% endif %}
                <p class="sketch-license">
                    {{ asset.get_license_icons }} {{ asset.get_license_display|default_if_none:" All rights reserved" }}
                </p>
                <p></p>
                {% if user_owns_asset or request.user.is_superuser %}
                    <a class="btn btn-primary btn-sm" href="{% url 'icosa:asset_edit' asset_url=asset.url %}">
                        {% fa_icon "solid" "gear" %} Edit settings{% if request.user.is_superuser and not user_owns_asset %} as a superuser{% endif %}
                    </a>
                {% endif %}
                {% if request.user.is_superuser %}
                    <a class="btn btn-primary btn-sm" href="{% url 'icosa:asset_admin_change' asset_url=asset.url %}">
                        {% fa_icon "solid" "gear" %} Edit in admin as a superuser
                    </a>
                {% endif %}
                <p>
                    {% if downloadable_formats %}
                        <a href="{% url 'icosa:asset_downloads' asset_url=asset.url %}" class="btn btn-primary btn-sm">
                            {% fa_icon "solid" "download" %} Downloads
                        </a>
                    {% endif %}
                    <a id="embed-btn" href="javascript:void(0);" class="btn btn-primary btn-sm">
                        {% fa_icon "solid" "code" %} Get embed code
                    </a>
                </p>
                <div id="embed-wrapper" class="hidden">
                    <p>Copy and paste the below code into your site to embed this work. Or use <a href="https://oembed.com/">oEmbed</a>.</p>
                    <textarea rows="6" class="embed-code">{{ embed_code }}</textarea>
                </div>
                <p class="text-right actions">
                    <small>
                        <a href="{% url 'icosa:artist_info' %}">{% fa_icon "solid" "circle-question" %} Why is my work here? What can I do?</a>
                        <a href="{% url "icosa:report_asset" asset_url=asset.url %}">
                            {% fa_icon "solid" "flag" %} Report
                        </a>
                    </small>
                </p>
                {% if request.user.is_superuser and not settings.DEBUG %}
                {% include "include/asset_superuser_actions.html" %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% if asset.is_viewer_compatible %}
    {% include "partials/viewer.html" %}
{% endif %}
<script>
    let embedBtn = document.querySelector("#embed-btn");
    let embedWrapper = document.querySelector("#embed-wrapper");
    embedBtn.addEventListener("click", function(){
        embedWrapper.classList.toggle("hidden");
        embedBtn.remove();
    });
</script>
{% endblock content %}
