{% extends "base.html" %}
{% load static %}
{% block extrahead %}
{% endblock extrahead %}
{% block content %}
<div class="sketchedit">
    <div class="viewer">
        <div id="icosa-viewer"></div>
    </div>
    <div class="editor">
        <div class="sketcheditor container">
            <form method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {% for field in form %}
                    <div>
                        {{ field.label_tag }}
                        {% if field.errors %}
                            {{ field.errors }}
                            {% if field.name == "license" %}
                            <p><a href="#">Find out why permissive licenses are important</a></p>
                            {% endif %}
                        {% endif %}
                        {% if field.name == "license" %}
                            {% if field.value %}
                                {{ asset.get_license_display }}
                            {% else %}
                                {{ field }}
                                <p><a href="#">More info on creative commons licenses</a></p>
                            {% endif %}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>
{% include "partials/viewer.html" %}
{% endblock content %}
