{% extends "base.html" %}
{% load static %}
{% block extrahead %}
{% endblock extrahead %}
{% block content %}
<div class="sketchedit">
    <div class="viewer">
        <div id="icosa-viewer"></div>
    </div>
    <div class="editor">
        <div class="sketcheditor container">
            <form method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>
{% include "partials/viewer.html" %}
{% endblock content %}
