{% extends "base.html" %}

{% load fontawesome_tags %}
{% load static %}

{% block extrahead %}
{% endblock extrahead %}

{% block content %}
<div class="sketchedit">
    <div class="viewer">
        <div id="icosa-viewer"></div>
    </div>
    <div class="editor">
        <div class="sketcheditor container">
            <form method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {% for field in form %}
                    <div>
                        {{ field.label_tag }}
                        {% if field.errors %}
                            {{ field.errors }}
                            {% if field.name == "license" %}
                            <p><a href="#">Find out why permissive licenses are important</a></p>
                            {% endif %}
                        {% endif %}
                        {% if field.name == "license" %}
                            {% if not field.field.disabled %}
                                <p>Please choose a permissive, Creative Commons (CC) license before publishing your work. If you choose "All Rights Reserved", your work will only be shown on your profile page and via direct links. Work with a CC license will also appear in public lists and search results. Please note, CC licenses are non-revokable once chosen.</p>
                            {% endif %}
                        {% endif %}
                        {% if field.name == "thumbnail" %}
                            {% comment %}
                            TODO: This extra thumbnail code should go in the custom_clearable_image_input.html once it's finalised.
                    
                            <label for="id_thumbnail_from_viewer">
                                <input class="input-inline" type="checkbox" id="id_thumbnail_from_viewer" name="thumbnail_from_viewer">
                                Use current viewer image as the thumbnail (will update when you save)
                            </label>
                            {% endcomment %}
                        {% endif %}
                            {{ field }}
                        {% if field.name == "thumbnail" %}
                            {% comment %}
                            <script>
                                let thumbnailWidget = document.querySelector("#thumbnail-widget");
                                let thumbnailCheckbox = document.querySelector("#id_thumbnail_from_viewer");
                                thumbnailCheckbox.addEventListener("click", function(){
                                    thumbnailWidget.classList.toggle("hidden");
                                });
                            </script>
                            {% endcomment %}
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="{% url 'uploads' %}" class="btn btn-secondary">Cancel</a>
            </form>
            <p>
              <button href="javascript:void(0);" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">Delete</button>
            </p>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="delete-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {% fa_icon "solid" "hand" %}
                    Are you sure you want to delete &ldquo;{{ asset.name }}&rdquo;?
                </h5>
            </div>
            <div class="modal-body">
                <p>You can not undo this action.</p>
                <p>Press "I'm sure" to confirm you want to remove your work from Icosa Gallery.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal">Cancel</button>
                <form method="post" action="{{ asset.get_delete_url }}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-danger">I'm sure</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% include "partials/viewer.html" %}
{% endblock content %}
