{% extends "base.html" %}
{% block content %}
<div class="container text-page">
    <div class="row">
        <div class="col col-lg-6 offset-lg-3">
            <h3>{{ page_title }}</h3>
            <p>
                If something is not working right, or you need help using the site, please join our <a href="https://discord.gg/W7NCEYnEfy" alt="discord" rel="noreferrer" target="_blank">Discord</a> or send an email to <a href="mailto:support@icosa.foundation">support@icosa.foundation</a>.
            </p>

            <h4 id="delete-account">Deleting your account</h4>
            <p>
                To delete your Icosa account, email
                <a href="mailto:support@icosa.foundation?subject=Delete%20my%20account">support@icosa.foundation</a>
                from your account's email address with the subject "Delete my account".
                We'll delete your account and personal data within 30 days.
            </p>
            <p>
                Please note that work you've shared publicly under a Creative Commons license can't be
                withdrawn, and copies may remain available wherever it has been downloaded, embedded,
                cached or remixed, including on Icosa Gallery.<br>
                <a href="https://creativecommons.org/faq/">More information on Creative Commons Licenses</a>
            </p>
        </div>
    </div>
</div>
{% endblock content %}