{% extends "base.html" %}
{% block content %}
<div class="container text-page">
    <div class="row">
        <div class="col col-lg-6 offset-lg-3">
            <h3>{{ page_title }}</h3>
            <p>
                If something is not working right, or you need help using the site, please join our <a href="https://discord.gg/W7NCEYnEfy" alt="discord" rel="noreferrer" target="_blank">Discord</a> or send an email to <a href="mailto:support@icosa.foundation">support@icosa.foundation</a>.
            </p>
        </div>
    </div>
</div>
{% endblock content %}
