{% extends "base.html" %}
{% block content %}
<div>
    {% if hero %}
        {% if page_number == None or page_number == "1" %}
            {% include "partials/hero.html" %}
        {% endif %}
    {% endif %}
    <div class="container">
        <div class="sketch-list">
            {% for asset in assets %}
                {% include "partials/sketch_list_item.html" %}
            {% endfor %}
        </div>
        {% include "partials/pagination.html" %}
    </div>
</div>
{% endblock content %}
