{% extends "base.html" %}
{% block content %}
<div>
    {% if masthead %}
        {% include "partials/masthead.html" %}
    {% endif %}
    <div class="container">
        {% if heading %}
            <h1>{% if is_explore_heading %}Exploring {% endif %}{% if heading_link %}<a href="{{ heading_link }}">{% endif %}{{ heading }}{% if heading_link %}</a>{% endif %}</h1>
        {% endif %}
        <div class="sketch-list">
            {% for asset in assets %}
                {% include "partials/sketch_list_item.html" %}
            {% endfor %}
        </div>
        {% include "partials/pagination.html" %}
    </div>
</div>
{% endblock content %}
