{% extends "base.html" %}
{% block content %}
    <div>
        {% if page_number == None or page_number == "1" %}
            {% include "partials/hero.html" %}
        {% endif %}
        <div class="sketch-list">
            <div class="container">
                <div class="row">
                    {% for asset in assets %}
                        {% include "partials/sketch_list_item.html" %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
