{% extends "base.html" %}
{% block content %}
    <div class="container text-page">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
<h2>What types of licenses are available?</h2>
<p>Creative Commons (CC) licenses allow creators to share their work openly with specific permissions. These licenses let artists decide how others may use their work, from simply sharing to allowing modification and even commercial use. There are several variants of CC licenses, each with its own set of rules.</p>

<p>All CC licenses are explained here, but Icosa Gallery offers only a selection of them. We explain why next to each type.</p>

<h3>Licenses offered by Icosa Gallery</h3>

<ul>
<li>
<strong>All Rights Reserved:</strong> You forbid any reuse without explicit written permission. This is the traditional “copyright” you would have on your creations by default. Note however that we will not display your work on the home page, any landing pages or searches in case users mistakenly assume the work can be reused. The only way people will find your work is by visiting your profile or via a direct link to its page.
</li>

<li>
<strong>CC BY:</strong> This license allows others to distribute, remix, adapt, and build upon the work, even commercially, as long as they credit the creator.</li>

<li>
<strong>CC BY-ND:</strong> Allows redistribution, both commercial and non-commercial, but without changes and with credit to the creator.
</li>

<li>
<strong>CC0:</strong> This license means the creator has dedicated the work to the public domain by waiving all of his or her rights to the work worldwide under copyright law. 
</li>
</ul>

<p>These licenses and how we display associated works help balance the creator's rights with the benefits of open sharing, and creating opportunities for wider collaboration on creative works.</p>
<h3>Licenses not offered by Icosa Gallery</h3>
<p>We don’t offer the following licenses because the purpose of the Icosa Gallery is to encourage remixing and sharing of work and these licenses are less clear in the uses they permit. We feel that they increase the chances of users misunderstanding what they are allowing - and are allowed to do.</p>
<ul>
<li>
<strong>CC BY-SA:</strong> Similar to CC BY, but any new works must carry the same license, allowing for adaptation and sharing alike.
</li>
<li>
<strong>CC BY-NC:</strong> Others can remix, tweak, and build upon the work non-commercially, and although new works must acknowledge the creator, they don't need to be licensed on the same terms.
</li>
<li>
<strong>CC BY-NC-SA:</strong> Allows non-commercial remixing and adaptation, but any derivative works must use the same license.
</li>
<li>
<strong>CC BY-NC-ND:</strong> The most restrictive, only allowing others to download and share the works with credit, but no modifications or commercial use are allowed.
</li>
</ul>



            </div>
        </div>
    </div>
{% endblock content %}
