{% extends "base.html" %}
{% load paginator_tags %}

{% block extrahead %}
    {{ block.super }}
    <link rel="canonical" href="{% clean_url %}">
{% endblock extrahead %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ page_tile }}</h1>
            </div>
        </div>
        <div class="sketch-list">
            {% if assets %}
                {% for asset in assets %}
                    {% include "partials/sketch_list_item.html" %}
                {% endfor %}
            {% else %}
                <p>You haven't liked anything yet.</p>
            {% endif %}
        </div>
        {% include "partials/pagination.html" %}
    </div>
{% endblock content %}
