{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>{{ user.displayname }} Likes</h2>
            </div>
        </div>
        <div class="sketch-list">
            {% if assets %}
                {% for asset in assets %}
                    {% include "partials/sketch_list_item.html" %}
                {% endfor %}
            {% else %}
                <p>You haven't liked anything yet.</p>
            {% endif %}
        </div>
        {% include "partials/pagination.html" %}
    </div>
{% endblock content %}
