{% extends "base.html" %}
{% load static %}
{% load paginator_tags %}

{% block extrahead %}
    {{ block.super }}
    <link rel="canonical" href="{% clean_url %}">
{% endblock extrahead %}

{% block content %}
<div class="container">
</div>
<div class="container">
    {% if messages %}
    <ul class="messages" id="uploadmessages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="row">
        <div class="col">
            <h1><a href="/uploads">{{ page_title }}</a></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h1>Upload New File</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <form action="{% url 'icosa:uploads' %}" class="file-form" method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {% if form.file.errors %}
                    {{ form.file.errors }}
                {% endif %}
                <input multiple type="file" class="form-control-file" name="file" required>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>
        <div class="col-lg-6">
                <details>
                    <summary>
                        Note: We support the following formats:
                    </summary>
                    <div class="details-content">
                        <ul>
                            <li>gltf (+bin)</li>
                            <li>glb</li>
                            <li>tilt</li>
                            <li>blocks</li>
                            <li>fbx (+fbm)</li>
                            <li>obj (+mtl)</li>
                            <li>stl</li>
                            <li>usdz</li>
                            <li>vox</li>
                            <li>ply</li>
                            <li>sog</li>
                            <li>spz</li>
                            <li>splat</li>
                            <li>ksplat</li>
                        </ul>
                    </div>
                </details>
            <p>
                Currently you can upload a zip file containing all relevant files.
                <br>
                (For example, if uploading <code>sketch.gltf</code>, make sure <code>sketch.bin</code> is
                also included in the zip file.)
                <br>
                <strong>or</strong> you can upload a glb file.
            </p>
            <p>Include an image file named <code>thumbnail.png</code> in the root of your zip file to use this as your asset's thumbnail for display on this site. If uploading a glb or zip without a thumbnail, you can upload one later by editing your work's settings.</p>
            {% if config.BETA_MODE %}
                <p><strong>This site is currently in Beta mode. While we will do our best to keep things stable, your data may be removed at any time. Please bear this in mind when uploading your work.</strong></p>
            {% endif %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Manage Uploads</h2>
        </div>
    </div>
    <div class="sketch-list">
        {% if assets %}
            {% for asset in assets %}
                {% comment %}
                {% include "partials/sketch_list_item_owner.html" %}
                {% endcomment %}
            {% endfor %}
        {% else %}
            <p>You haven't uploaded anything yet.</p>
        {% endif %}
    </div>
    {% if assets %}
        {% include "partials/pagination.html" %}
    {% endif %}
</div>
{% endblock content %}
