{% extends "base.html" %}
{% load static %}
{% block extrahead %}
{% endblock extrahead %}
{% block content %}
<div class="container">
</div>
<div class="container">
    {% if messages %}
    <ul class="messages" id="uploadmessages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="row">
        <div class="col">
            <h1>{{ page_title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h1>Upload New File</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <form action="{% url 'uploads' %}" class="file-form" method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <input multiple type="file" class="form-control-file" name="file" required>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>
        <div class="col-lg-6">
            <p>
                Note: We only support GLTF (+bin) and GLB files at the moment.
                <br>
                .tilt file support will be added with our upcoming Open Brush
                integration.
            </p>
            <p>
                Currently you <strong>must</strong> upload a zip file containing all relevant files.
                <br>
                (For example, if uploading <code>sketch.gltf</code>, make sure <code>sketch.bin</code> is
                also included in the zip file.)
                <br>
            </p>
            <p>Include an image file named <code>thumbnail.png</code> in the root of your zip file to use this as your asset's thumbnail for display on this site.</p>
            {% if config.BETA_MODE %}
                <p><strong>This site is currently in Beta mode. While we will do our best to keep things stable, your data may be removed at any time. Please bear this in mind when uploading your work.</strong></p>
            {% endif %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Manage Uploads</h2>
        </div>
    </div>
    <div class="sketch-list">
        {% if assets %}
            {% with can_edit_asset=True %}
                {% for asset in assets %}
                    {% include "partials/sketch_list_item.html" %}
                {% endfor %}
            {% endwith %}
        {% else %}
            <p>You haven't uploaded anything yet.</p>
        {% endif %}
    </div>
    {% include "partials/pagination.html" %}
</div>
{% endblock content %}
