{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>{{ page_title }}</h3>
                <p>This privacy policy discloses how Icosa Gallery Ltd (hereinafter "Icosa Gallery", “us”, "we") handles and protects, and values your information.</p>
                <p>The purpose of this page is to inform users of the Open Brush application (the "App") and/or our customer support service (this service and the App hereinafter referred to as the "Services") regarding our policy with the collection, use, and disclosure of Personal Information of any users of our Service.</p>
                <p>By using our Services, you agree to the collection and use of information in relation to this policy. The Personal Information that we collect is used for providing and improving the Services. We will not use or share your information with anyone except as described in this Privacy Policy.</p>
                <h4>Information Collection and Use</h4>
                <p>In order to provide customer service for our users, you may contact us via email. During this transaction it is likely that we will receive Personal Information (e-mail address, and any other Personal Information you may include). Your Personal Information will only be used to provide you with the support requested, and will not be processed for any other reason. Any emails we receive will be kept on record to enable us to provide continued customer service, but you are free to request Personal Information deletion at any time by contacting us on the same email: support@openbrush.app.</p>
                <h4>Privacy policy updates</h4>
                <p>We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it.</p>
                <h4>Updates/Opting Out</h4>
                <p>If you would like to access, correct, amend or delete any personal information we have about you, you are invited to contact us by sending an email.</p>
            </div>
        </div>
    </div>
{% endblock content %}
