{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <h1>{% trans "My Settings" %}</h1>
                {% if need_login %}
                    {% url 'icosa:login' as login_url %}
                    <p>{% blocktrans %}You have changed your password, please <a href="{{ login_url }}">log in</a> again.{% endblocktrans %}</p>
                {% else %}
                    <form action="{% url 'icosa:settings' %}" method="post" novalidate>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-primary" type="submit">{% trans "Update" %}</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
