{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>My Settings</h1>
                {% if need_login %}
                    <p>You have changed your password, please <a href="{% url 'login' %}">log in</a> again.</p>
                {% else %}
                    <form action="{% url 'settings' %}" method="post" novalidate>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-primary" type="submit">Update</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
