{% extends "base.html" %}
{% block content %}
    <div class="container text-page">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h3>{{ page_title }}</h3>
                <p>This project is funded through <a href="https://nlnet.nl/entrust">NGI0 Entrust</a>, a fund established by <a href="https://nlnet.nl">NLnet</a> with financial support from the European Commission's <a href="https://ngi.eu">Next Generation Internet</a> program. Learn more at the <a href="https://nlnet.nl/project/IcosaGallery">NLnet project page</a>.</p>
                <div class="sponsor-images">
                    <a href="https://nlnet.nl"><img src="https://camo.githubusercontent.com/23074761c539526c4a06c00d6321eabf023587823d6f25982cb27051a62308e1/68747470733a2f2f6e6c6e65742e6e6c2f6c6f676f2f62616e6e65722e706e67" alt="NLnet foundation logo" width="300" data-canonical-src="https://nlnet.nl/logo/banner.png"></a>
                    <a href="https://nlnet.nl/entrust"><img src="https://camo.githubusercontent.com/18d0ebcc19a7d25b943507f23eba871024403b60067a43e353ef9d8540815674/68747470733a2f2f6e6c6e65742e6e6c2f696d6167652f6c6f676f732f4e4749305f7461672e737667" alt="NGI Zero Logo" width="300" data-canonical-src="https://nlnet.nl/image/logos/NGI0_tag.svg"></a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
