{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div>
                    <h1>{{ page_title }}</h1>
                    {% if user.description %}
                        <p>{{ user.description|linebreaksbr }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="sketch-list">
            {% if assets %}
                {% for asset in assets %}
                    {% include "partials/sketch_list_item.html" %}
                {% endfor %}
            {% else %}
                <p>{{ user.displayname }} hasn't created anything yet.</p>
            {% endif %}
        </div>
        {% include "partials/pagination.html" %}
    </div>
{% endblock content %}
