{% extends "base.html" %}
{% load fontawesome_tags %}
{% load paginator_tags %}

{% block extrahead %}
    {{ block.super }}
    {% if is_multi_owner %}
        <link rel="canonical" href="{{ settings.DEPLOYMENT_SCHEME }}{{ settings.DEPLOYMENT_HOST_WEB }}{{ owner.get_absolute_url }}">
    {% else %}
        <link rel="canonical" href="{% clean_url %}">
    {% endif %}
{% endblock extrahead %}

{% block banner %}
    {% if owner.disable_profile and request.user.is_superuser %}
        {% include "partials/owner_disabled_banner.html" %}
    {% elif not owner.is_claimed %}
        {% include "partials/artist_info_banner.html" %}
    {% endif %}
{% endblock banner %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div>
                </div>
            </div>
        </div>
            {% if assets %}
                {% for asset in assets %}
                    {% with asset.owner as asset_owner %}
                        {% ifchanged asset_owner.displayname %}
                            {% if not forloop.first %}
                            </div>
                            {% endif %}
                            <h1 class="mt1">{{ asset_owner.displayname }}</h1>
                            {% if asset_owner.description %}
                                <p>{{ asset_owner.description|linebreaksbr }}</p>
                            {% endif %}
                            <div class="sketch-list">
                        {% endifchanged %}
                        {% with hide_byline=True %}
                            {% include "partials/sketch_list_item.html" %}
                        {% endwith %}
                    {% endwith %}
                {% endfor %}
            {% else %}
                <p>{{ owner.displayname }} hasn't created anything yet.</p>
            {% endif %}
        </div>
        {% include "partials/pagination.html" %}
    </div>
{% endblock content %}
