{% extends "base.html" %}
{% load static %}
{% block extrahead %}
{% endblock extrahead %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            {% if asset.is_viewer_compatible %}
                <div id="icosa-viewer"></div>
            {% else %}
                <p>Sorry, we are unable to display this model in the viewer.</p>
            {% endif %}
        </div>
    </div>
</div>
<div class="sketch-info container">
    <div class="row">
        <div class="col">
            <div>
                <h2>{{ asset.name }}{% if user == request_user %}{% if asset.visibility == "PRIVATE" %} <span style="color:red;">(PRIVATE)</span>{% endif %}{% if asset.visibility == "UNLISTED" %} <span style="color:orange;">(UNLISTED)</span>{% endif %}{% endif %}</h2>
                {% if asset.owner %}
                    <h4>
                        By <a href="/user/{{ asset.owner.url }}">{{ asset.owner.displayname }}</a>
                    </h4>
                {% endif %}
                <p>{{ asset.timestamp|date:"Y-m-d" }}</p>
                {% if asset.description %}
                    <p>{{ asset.description|linebreaksbr }}</p>
                {% endif %}
                <h6>{{ asset.license|default_if_none:"All rights reserved" }}</h6>
            </div>
        </div>
    </div>
</div>
{% if asset.is_viewer_compatible %}
    {% include "partials/viewer.html" %}
{% endif %}
{% endblock content %}
