{% extends "base.html" %}

{% load asset_tags %}
{% load fontawesome_tags %}
{% load static %}

{% block extrahead %}
    <link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}{{ asset.get_absolute_url }}" />
{% endblock extrahead %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            {% if asset.is_viewer_compatible %}
                <div id="icosa-viewer"></div>
            {% else %}
                <p>Sorry, we are unable to display this model in the viewer.</p>
            {% endif %}
        </div>
    </div>
</div>
<div class="sketch-info container">
    <div class="row">
        <div class="col">
            <div>
                <h2>
                    {{ asset.name }}{% if user == request_user %}{% if asset.visibility == "PRIVATE" %} <span style="color:red;">(PRIVATE)</span>{% endif %}{% if asset.visibility == "UNLISTED" %} <span style="color:orange;">(UNLISTED)</span>{% endif %}{% endif %}
                    {% like_button request asset %}
                </h2>
                {% if asset.owner %}
                    <h4>
                        By <a href="/user/{{ asset.owner.url }}">{{ asset.owner.displayname }}</a>
                    </h4>
                {% endif %}
                <p>{{ asset.timestamp|date:"Y-m-d" }}</p>
                {% if asset.description %}
                    <p>{{ asset.description|linebreaksbr }}</p>
                {% endif %}
                <h6>
                    {{ asset.get_license_display|default_if_none:"All rights reserved" }}
                </h6>
                {% if asset.download_url %}
                    <p>
                        <a href="{{ asset.download_url }}" class="btn btn-primary btn-sm">
                            {% fa_icon "solid" "download" %} Download
                        </a>
                    </p>
                {% endif %}
                <p class="text-right"><small>
                <a href="{% url "report_asset" asset_url=asset.url %}">
                    {% fa_icon "solid" "triangle-exclamation" %} Report this work
                </a>
                </small></p>
            </div>
        </div>
    </div>
</div>
{% if asset.is_viewer_compatible %}
    {% include "partials/viewer.html" %}
{% endif %}
{% endblock content %}
